[2021-01-29 03:03] llhuii opened #2 "repository setup tracking issue"
This issue is to track the things need to be done for completely setup our repository.
- [ ] add fossa checker for licenses checking
- [x] add prowbot support for auto merging pr etc.
- [x] add e2e testcases, current empty

[2021-01-29 03:46] llhuii opened #3 "Contributor Experience Improvement Tracking Issue"
One of the top priority work to do duing the next few months is to improve contributor experience, help more new contributors get on board.

This issue is to track the things need to be done.

### General
* [ ]  [Docs] Separate user manual and contributor guide docs, TBD.
* [ ]  [Docs] Governance doc, general introduction of how the community is operated, including SIG/WG setup etc.
* [ ]  [Docs]

[2021-01-29 03:47] llhuii commented on #3
mark the reference https://github.com/kubeedge/kubeedge/issues/944 here

[2021-01-29 03:52] llhuii opened #4 "feature enhancements tracking issue"
This issue is to track these known enhancements:
- [ ] add pod template like support for worker spec
- [ ] add dataset management with central storage support
- [ ] add model management with central storage support
- [ ] add worker script directory with central storage support
- [ ] add example code style checker
- [ ] add descriptions for CRD fields

[2021-01-30 03:11] jaypume commented on #4
[SPACE] make the python lib interface more clearer
[SPACE] model serving should support hot loading & multiple models
[SPACE] manually copying training script to edge node is not recommended
[SPACE] the basic TensorFlow images in the examples needs to be unified to one version
[SPACE] the networking differences need to be considered when the LC is deployed on the cloud

[2021-01-30 03:16] llhuii commented on #4
Added

[2021-02-01 04:18] kevin-wangzefeng commented on #4
To follow up for the feature enhancements, it's recommanded to create separated tracking issues for each items.

[2021-02-02 07:29] khalid-davis opened #5 "Model serving should support multi-model"
In model inference, multiple models may be composed for inference. For example, model A receives input and its output will be inputed to model B for inference to obtain the final inference result.  For more scenarios, see this [link](https://docs.seldon.io/projects/seldon-core/en/latest/examples/graph-metadata.html?highlight=router#Router-with-two-models)

[2021-02-03 01:22] llhuii commented on #2
progress:
finish to add prowbot support by adding kubeedge-bot to this project.

[2021-02-03 07:27] llhuii commented on #2
for the issue:

[2021-02-04 06:20] khalid-davis opened #7 "Model serving should support hot loading"
In joint inference or incremental learning scenario, sometimes we need to redelpoy our model. For example, in incremental learning scenario, after continuous data training, the model precision reaches the trigger condition, and the model needs to be redeployed.
How to redepoy our model without service interruption is need to be considerd.
Some serving framework support hot loading, for example [py

[2021-02-18 01:30] llhuii opened #10 "generate crds using kubebuilder instead of manully editing"
see the kubebuilder [generating-crd](https://book.kubebuilder.io/reference/generating-crd.html).

[2021-02-19 02:07] khalid-davis commented on #10
you mean using kuebuilder to refactor the code of sedna?

[2021-02-19 02:34] llhuii commented on #10
since controller-gen doesn't support float64(see https://github.com/kubernetes-sigs/controller-tools/issues/245), and we have float64 in incremental-learning job crd, to be done for this.

[2021-02-19 02:41] llhuii commented on #10
no, just the definitions of CRs(i.e. the directory https://github.com/kubeedge/sedna/tree/main/build/crds/sedna).

[2021-02-22 02:13] llhuii commented on #10
just simple look, we could also use `resource.Quantity`, but it would need more code work.

[2021-02-23 12:08] llhuii opened #13 "Add arm support"
Add Sedna's support at below platforms:
1. Raspberry Pi
2. Arm64 Server

[2021-02-25 01:37] llhuii commented on #13
A non-code solution:
1. If the user has the target os already and can tolerate to build from source, then just follow the install doc.
2. Else using docker buildx to build sedna images.

A code solution:
**TBD** Add the cross-build support to Makefile.

[2021-02-25 01:43] llhuii opened #14 "Add e2e code framework and some basic tests"
Currently without some test cases, we need to test our code manully with many common cases and bug-prone.
To mitigate this, we need test cases.

[2021-02-25 03:58] llhuii opened #15 "leverage sigs.k8s.io/controller-runtime to reduce duplicate controller codes"
Currently each feature controller has sample-controller basic framework, leading to many duplicate codes and extra maintenance, we may leverage sigs.k8s.io/controller-runtime to mitigate it.

[2021-02-25 09:10] llhuii commented on #14
Solution path, gathering below things under a script:
1. setup up a kind cluster using `hack/local-up.sh`: still some works(need to trick to start it background; whether kubeedge for test-cases or not; multi nodes for kind cluster)
2. copy dummy datasets/codes to nodes: prepare these, and copy the scripts by docker command
3. run test cases written by ginkgo: we can write very simply case for each

[2021-02-25 13:10] EnfangCui opened #16 "Implement automatic model conversion and model serving image selection to support heterogeneous hardware platform"
**Function description:** Automatically select AI server (TFserving, PaddleServing, MindSpore Serving, Tensorflow lite, Paddle lite, MNN, OpenVINO, etc.) according to the hardware platform, and automatically perform model format conversion.

**Solution:**
Provided python SDK to realize the following functions:
1) Read the edge node hardware type label based on k8s python sdk and select model servi

[2021-02-26 02:15] llhuii commented on #16
Can we provide the other ways not only python SDK?

[2021-02-27 00:58] EnfangCui commented on #16
@llhuii Yes, another alternative way is to provide a k8s operator. This may be a better way.

[2021-03-04 03:26] ugvddm commented on #16
please refer to klever,  which have implemented  model conversion

[2021-03-04 08:00] llhuii commented on #16
after simply digging to klever, its component klever-model-registry has built some [converter scripts](https://github.com/kleveross/klever-model-registry/tree/master/scripts/convert/converter).
@EnfangCui can you check it more deeper?

[2021-03-05 01:13] EnfangCui commented on #16
@llhuii OK, I will study it carefully.

[2021-03-11 01:28] llhuii opened #18 "Add shared storage support for dataset/model"
#### What would you like to be added:
Add shared storage support for dataset/model, such as s3/http protocols.
#### Why is this needed:
Currently only dataset/model uri with **host** localpath is supported, thus limiting cross node model training/serving.

[2021-03-11 09:14] llhuii opened #19 "Add pod template like support for worker spec"
#### What would you like to be added:
Add pod template like support for worker spec
#### Why is this needed:
Current state of the worker spec definition:
[code]

1. `ScriptDir/ScriptBootFile` is the entrypoint of worker, localpath or shared storage(e.g. s3).
1. `FrameworkType/FrameworkVersion` specifies the base container image of worker.
1. `Parameters` specifies the environment of worker.

pros:

[2021-03-15 07:18] bruandsbc opened #20 "Supports installation under HTTP Proxies"

[2021-03-15 07:20] bruandsbc opened #21 "Support all-in-one installation script on an existing k8s environment"

[2021-03-16 01:42] #14 closed

[2021-03-16 08:57] llhuii commented on #21
/label enhance-user-experience

[2021-03-16 08:59] llhuii commented on #21
/retitle Support all-in-one deployment script on an existing k8s environment

[2021-03-17 02:55] llhuii commented on #20
Ok, here's my notes:
1. there are six environments for setting proxy: `http_proxy/https_proxy/no_proxy/HTTP_PROXY/HTTPS_PROXY/NO_PROXY/
2. we only need to consider the case that installation from source code.

The main places needing to connect internet:
1. docker build: need to add extral args `docker build --build-arg http_proxy --build-arg https_proxy --build-arg no_proxy`
1. go get/git clone:

[2021-03-17 07:40] llhuii commented on #18
## sub-problem 1: model/dataset download
There are three solutions:
### solution 1: Add init container+emptydir to download model/dataset for worker-Pod
pros:
1. auto manage for model/dataset cached directory(k8s emptydir)
1. no extra manage for this init container(attached to worker Pod)
1. decouple/independent with the worker image, no need to extra download for worker
1. leverage existing train

[2021-03-17 08:10] llhuii commented on #18
solution 2: Add extra pod to download model/dataset before running the worker Pod
pros:
1. can share already downloaded model between worker Pods.
cons:
1. complex manage/implement: need to manage this extra pod and running successfully prior to running the worker
2. extra manage for local download path

[2021-03-17 08:16] llhuii commented on #18
### solution 3: let worker Pod downloads model/dataset by themselves before training or serving model
pros:
1. simple, no modify for our framework

cons:
1. need to change the worker image to do the downloading work
2. coupled with existing worker-images if we want to leverage them

[2021-03-17 08:23] llhuii commented on #18
## sub-problem 2: model/dataset upload

Since the upload action is triggered by worker, we leave the uploading to the worker.
Specifically the worker can call:
1. minio/s3 client if modeluri is s3
2. http client if http
3. os.write files by attaching PV volumes or hostpath if local.

[2021-03-17 08:31] llhuii commented on #19
So we need to add pod template support to avoid the cons of current worker spec.

changes:
1. refactor workerSpec of API/implementation to pod template
2. change CRD of all features, and we can avoid this by kube-builder #11
3. move nodeName of API to pod template
4. update all three examples
5. update the installation doc
6. update the local-up script

And here are examples:
#### joint-inference-

[2021-03-18 01:46] TymonXie commented on #18
![image](https://user-images.githubusercontent.com/30067438/111561087-dc104a80-87ce-11eb-93c9-22e83d0576e6.png)

[2021-03-18 08:14] llhuii commented on #18
More comment: we can use the kfserving init-container image(gcr.io/kfserving/storage-initializer:v0.4.1) for our init-container image.

[2021-03-18 08:49] TymonXie opened #24 "failed to run jointinferenceservice demo"
when i run jointinferenceservice demo according to the document，the specific issues are as follows:
![image](https://user-images.githubusercontent.com/30067438/111597912-a3419700-8809-11eb-99ca-3f9f8c1b63aa.png)
i can not find sedna-gm.yaml in gm directory

[2021-03-18 08:54] TymonXie commented on #24
![image](https://user-images.githubusercontent.com/30067438/111598335-15b27700-880a-11eb-8aa4-2da32243a11d.png)
![Uploading image.png…]()

here, mkdir /code/little_model, /code/big_model, but after that i find it changed to /code/little-model, /code/big-model in yaml

[2021-03-18 08:57] TymonXie commented on #24
@JimmyYang20 ,hi jimmy yang, can you check them and fix it?

[2021-03-23 03:17] JimmyYang20 commented on #21
+1

[2021-03-24 07:23] llhuii commented on #24
will be updated in next release

[2021-03-24 07:27] llhuii commented on #18
For dataset in s3:
In incremental learning feature, LocalController will split the dataset into train/test set, and upload to s3, then we need user to config s3 secrets.

[2021-03-24 12:26] llhuii opened #25 "examples: enhance federated_learning/surface_defect_detection"
Here are my found:
1. Add command to download the datasets
2. Add command to download the label
3. Add command to download the code

[2021-03-25 04:12] llhuii opened #26 "e2e failed to run occasionally"
logs: ![image](https://user-images.githubusercontent.com/419660/112417615-ebf5d480-8d62-11eb-8e8e-e47ca9b54f2a.png)

[2021-03-25 07:22] llhuii commented on #25
3. show expected code layout for dataset

[2021-03-25 07:40] llhuii commented on #25
4. reedit the path of label content: add origin dot`.` to keep the same with original dataset.

[2021-03-25 11:19] llhuii commented on #25
5. fix bugs
![image](https://user-images.githubusercontent.com/419660/112464836-f5049700-8d9e-11eb-92ac-8ccc2e9add22.png)
![image](https://user-images.githubusercontent.com/419660/112464873-ffbf2c00-8d9e-11eb-8da7-45db9ea621b5.png)

[2021-03-25 12:08] llhuii commented on #26
Here are the very first debug process:
1. add cron job to run the ci hourly
1. add `df -lh` at every essential position
1. add `journalctl -r |head -n200` when the `gm:localup` image is deleted

nothing suspicious found.

After a day or two, I realized that kubelet has the [image gc logic](https://kubernetes.io/docs/concepts/cluster-administration/kubelet-garbage-collection/#image-collection), and

[2021-03-26 02:51] llhuii commented on #25
6. need to mkdir /model firstly

[2021-03-26 03:03] llhuii opened #27 "examples: enhance incremental_learning/helmet_detection_incremental_train"

[2021-03-26 03:09] llhuii commented on #27
1. the namespace `sedna-test` should be renamed, **default** is recommanded.

[2021-03-26 06:30] llhuii commented on #27
4. in [step 2: download base model](https://github.com/kubeedge/sedna/tree/main/examples/incremental_learning/helmet_detection_incremental_train#prepare-data-and-model), actually there are two models: initial-model for training and deploy-model for inference.

[2021-03-26 08:05] llhuii commented on #19
## support NodeSelector

[2021-03-27 00:52] llhuii commented on #26
## Solutions
Obviously we can close the image_gc_manager of edgecore by setting `imageGCHighThreshold` to `100%`.
But since currently we install kubeedge by running local_up_kubeedge.sh, there's no way to close it.

In another way,  since edgecore image_gc_manager only prunes these **unused** images(used means used by k8s pod), cleans the image by least used/detected time([code](https://github.com

[2021-03-27 02:49] llhuii opened #30 "example images are too large(about 2GB)"

[2021-03-27 02:57] llhuii opened #31 "tracking issues of pod template support #19"
- [x] refactor workerSpec of API/implementation into pod template
- [x] change CRD of all features, and we can avoid this by kube-builder #11
- [x] update the installation doc
- [x] update the local-up script
- [x] update the proposal
- [ ] update all three examples
- [x] add all example dockerfiles

[2021-03-27 03:33] llhuii commented on #31
cleanups:
- [ ] remove imageHub in gm-config
- [ ] remove `build/worker`

[2021-03-29 02:45] llhuii commented on #30
there are five images in our examples:
[code]

[2021-03-29 03:35] llhuii commented on #27
- [ ] we should doc which fields should be updated, before just starting the incremental-job, such as the trigger/nodename
- [ ] should download the dataset after starting the incremental job.

[2021-03-29 03:38] llhuii commented on #27
- [ ] update workerSpec to podTemplate in the incremental job crd.
- [ ] fix lib dataset relative-path issue

[2021-03-29 03:57] #26 closed

[2021-03-29 07:04] fisherxu commented on #30
The images name looks too long.. how about remove the example section?

[2021-03-29 07:44] llhuii commented on #30
rm `example` still too long, and make them unclear.

For too long problem, how about some abbreviations:
1.  example => exam
2. federated-learning => fed or fed-learning or fed-job
3. incremental-learning => incr or incr-learning or incr-job
4. joint-inference => joint-infer
5. detection => detect
6. aggregation => agg

[2021-03-29 08:16] llhuii opened #35 "incremental-learning: data path problem of dataset label file"
A label file contains a field specifying the image path, this path could be relative or absolute path.
And as far as i know, the main case is the relative path, such as:
[code]

but in the incremental-learning, LC would monitor the original dataset, split it into trainset and test set, and save them in  another path.

[2021-03-29 08:36] llhuii commented on #35
## solution
gm add an env called `ORIGINAL_DATASET_URL` representing the original dataset, lib reads it and inserts into the path in label file.

[2021-03-29 08:46] fisherxu commented on #30
exam is another word

[2021-03-29 08:56] llhuii commented on #30
`e.g.` means example:
so example => eg?

[2021-03-29 08:57] EnfangCui commented on #16
# Solution for model conversion
Add model job operator to provide functions related to the model operation, including:</br>
1. Model conversion: convert models to different formats to facilitate model deployment.
2. Model evaluation: evaluate the accuracy and accuracy loss of the model after conversion.
## Model Conversion
We use object storage schemes for model storage,  the open source solution

[2021-03-29 09:35] llhuii commented on #30
How about just keep the names? anyway the users will not input these names manually.

[2021-03-29 11:21] llhuii commented on #31
- [ ] update incremental learning example doc
- [ ] update joint inference example doc
- [ ] update federated learning example doc

[2021-03-30 07:56] #31 closed

[2021-03-30 08:00] llhuii commented on #10
close this one since #11 cherry pick into #33

[2021-03-30 08:00] #10 closed

[2021-03-30 08:18] TymonXie commented on #27
![image](https://user-images.githubusercontent.com/30067438/112957002-990d8a00-9173-11eb-9c38-8994298e7110.png)

[2021-03-30 09:35] llhuii commented on #27
In above case eval-worker should report low precision/recall instead of raiseing exception.

[2021-03-31 01:06] EnfangCui opened #40 "Add operator to support dynamic neural networks"
**Dynamic neural network** is an emerging research topic in deep learning. Compared to static models which have fixed computational graphs and parameters at the inference stage, dynamic networks can adapt their structures or parameters to different inputs, leading to notable advantages in terms of accuracy, computational efficiency, adaptiveness, etc.

[2021-03-31 02:31] llhuii commented on #27
- [ ] remove the `Prepare Worker Image` section

[2021-03-31 11:45] TymonXie commented on #27
inference worker continuous saved examples, result to disk diffusion
![image](https://user-images.githubusercontent.com/30067438/113139412-a56c1280-9259-11eb-9477-ae336a82d0c6.png)

[2021-04-01 09:55] #21 closed

[2021-04-02 02:37] llhuii opened #44 "Add nodeSelector for worker pod template"
In the issue #19, we add the pod template support. But the nodeSelector is not support in pr #33 because of its complex changes:
1. federated learning: since the train workers need to access the aggregation worker, currently we create the train workers injecting with the aggregation service `NodeIP:NodePort`. So GM needs to know the nodeName at first. With nodeSelector, we don't know the node wher

[2021-04-02 02:56] llhuii commented on #16
Hi, I have some questions:
1. From the Spec of ModelJob, only object storage is supported? it's not easy to extend other storage protocol since the top of spec has such `bucket` field.
2. Do srcModel/dstModel  just mean the name of model file? Or the sedna model crd?
3. Does storageURL mean the storage of srcModel or dstModel or both? If both, how can the user save the converted model to another p

[2021-04-02 04:03] llhuii commented on #16
More questions:

1. I'm curious that why having a loss, since it is just converting instead of pruning/quantization.
1. Does the user need to provide evalution code?
2. What metrics will the eval job output?
3. Missing `:` after `evaluation` and `datasetSpec` in `modeljob-eval` spec

[2021-04-02 04:05] llhuii commented on #27
- [ ] need to test hard-example-mining algorithm

[2021-04-02 04:07] llhuii commented on #27
- [ ] alleviate this memory usage

[2021-04-02 04:17] llhuii commented on #25
/close
since above issues have already be solved

[2021-04-02 04:17] #25 closed

[2021-04-02 04:18] llhuii commented on #24
/close
fixed in v0.1.0 release

[2021-04-02 04:18] #24 closed

[2021-04-08 01:54] EnfangCui commented on #16
@llhuii
Answer 1:  I modified the design of the CRD and added the "storageMethod" field for users to select the storage method.
Answer 2: I gave a more detailed explanation to model name . You can check my updated solution.
Answer 3: I modified the design of the CRD and separate the storage methods of source model and destination model.
Answer 4: Deploy the operator in the way of deployment, and w

[2021-04-08 03:52] JoeyHwong-gk opened #46 "Lib Refactoring"
#### Description

Some of  current components in Sedna Lib  provide services independently based on different features. Each feature provides an independent interface and code structure, which is confusing. To better facilitate those use cases, We need to start thinking about decoupling some of our components, While not a specific action item for Sedna, believe this conversation is worthwhile.

Di

[2021-04-08 06:11] llhuii opened #47 "Add more e2e testcases"
Following #14 with only one testcase(i.e. create dataset) added, we need to add more e2e testcases:
- [ ] dataset: get/delete
- [ ] model: create/get/delete
- [ ] joint-inference: create/get/delete
- [ ] federated-learning: create/get/delete
- [ ] incremental-learning: create/get/delete

[2021-04-08 08:59] llhuii commented on #20
In the release 0.1, we have a all-in-one script for [installation](/docs/setup/install.md#deploy-sedna), so here are the new steps to do:
1. our sedna docker images(e.g. `kubeedge/sedna-gm:v0.1.0`): in each required nodes, need to config docker with [http_proxy/https_proxy](https://docs.docker.com/config/daemon/systemd/#httphttps-proxy)
2. `export http_proxy` when running the install cmd in [insta

[2021-04-08 09:00] llhuii commented on #20
so I close this.
/close

[2021-04-08 09:00] #20 closed

[2021-04-08 09:20] llhuii commented on #16
Thanks, clearer.
More questions:

How about just one storage URL `http://121.37.140.33:9090/minio/cnn_onnx.tar.gz`? note: this sample has inconsistent protocol (one is s3, one is http)

This way restricts only one minio storage support in the cluster. If the user want to use other user's shared model in other s3, this way injects the wrong ak/sk leading to error downloading.

[2021-04-09 02:10] llhuii commented on #44
solution:
1. wait for kubeedge edgemesh added

[2021-04-09 08:08] JimmyYang20 commented on #18
### Create s3 Secret
Use s3 user credential to create a secret,   GM reads the secret annotations to inject the s3 environment variables to workers and LC.

[code]

[2021-04-09 12:32] ugvddm commented on #40
Hi CEF， thanks for your contribution,
it is seem like  a  good idea, but we need find some scenaro  to evaluate it more better.

[2021-04-10 13:01] EnfangCui commented on #16
Answer: Yes, just one storage URL is okay, which is more convenient.

Answer: How  about use k8s Secret to manage secret keys? I modified the design of the CRD as follows:

[code]
The secret key is managed by k8s Secret:

[code]

[2021-04-10 13:06] EnfangCui commented on #40
Yes, we need to find some real-world application scenarios. I will continue to follow up on the progress of this technology, and when I have a valuable scenario, I will make a detailed proposal.

[2021-04-11 14:31] ugvddm commented on #40
we look for it together :)

[2021-04-12 02:36] ugvddm commented on #46
Hi Joey
we need describe the positioning of sedna and lib firstly.

[2021-04-12 06:17] jaypume commented on #46
Hi Joey, it's very nice of you for seeing those problems, but I still have some questions:
1.  Why does sedna need to support pre-processing and post-processing, while current frameworks are already  integrated with pre-processing function such as `tf.keras.preprocessing`?
2. I want to make sure this is just for sedna's code contributors instead of sedna's AI developer users?
3. It needs to point

[2021-04-12 13:52] JoeyHwong-gk commented on #46
Thanks for reply!
1.  Sedna has defined both pre-processing and post-processing in our model training and inference ( clean floder、start rest server 、LC report etc），We would like to be able to do something else between these jobs and model training/inference.
2.  As a deployer, its too waste time to figuring out each variable in global variables, as we're not sure whether a variable is necessary f

[2021-04-14 08:35] XinYao1994 opened #50 "[Enhancement Request] Integrate Plato into Sedna as a backend for supporting federated learning"
**What would you like to be added/modified**:

[**Plato**](https://github.com/TL-System/plato) is a new software framework to facilitate scalable federated learning. So far, Plato has already supported PyTorch and MindSpore. Several advantages are summarized as follow:
1. **Simplicity**: Plato provides user-friendly APIs.
2. **Scalability**: Plato is scalable. Plato also supports running multiple

[2021-04-14 09:25] llhuii opened #51 "Implementation for injecting storage-initializer"
In the #18, I proposed to add an init-containers to download dataset/models before running workers.
Then we need to inject the storage-initializer to workers.

### the simply way
The obvious way to implement it is to modify the creating-worker logic in each collaboration features in GM.
I can abstract the common logic to one func/file.
its pros: simply and quick
its cons: need to modify the gm

##

[2021-04-15 02:00] llhuii commented on #51
kfserving storage-initializer implementation see this pr https://github.com/kubeflow/kfserving/pull/156.

[2021-04-15 02:22] llhuii commented on #18
/cc @hxhp

[2021-04-15 02:24] llhuii commented on #18
/cc @EnfangCui

note: https://github.com/kubeedge/sedna/issues/16 also has the same secret design issue.

[2021-04-15 03:05] JimmyYang20 commented on #18
**KFServing uses s3**

create secret
[code]
attach the secret to the service account's secret list
[code]
create the inferenceservice
[code]
reference: [https://github.com/kubeflow/kfserving/tree/master/docs/samples/storage/s3](https://github.com/kubeflow/kfserving/tree/master/docs/samples/storage/s3)

kfserving python sdk gives set_credentials api
[code]
set credentials in the AWS credentials pro

[2021-04-16 02:38] Jw-Jm opened #53 "Join_inference cannot be connected to the cloud for analysis"
**What happened**:
When I use the example which is joint_inference/helmet_detection_inference, there are some errors in the log
helmet-detection-inference-example-edge-5pg66  logs:
`[2021-04-16 02:32:48,383][sedna.joint_inference.joint_inference][ERROR][124]: send request to http://192.168.2.211:30691 failed, error is HTTPConnectionPool(host='192.168.2.211', port=30691): Max retries exceeded with

[2021-04-16 02:39] Jw-Jm commented on #53
add:
[root@node3 ~]# curl  http://192.168.2.211:30691
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<title>405 Method Not Allowed</title>
<h1>Method Not Allowed</h1>
<p>The method is not allowed for the requested URL.</p>
[root@node3 ~]# curl  http://192.168.2.211:30691
curl: (7) Failed connect to 192.168.2.211:30691; Connection refused

[2021-04-16 03:19] llhuii commented on #53
hi, @Jw-Jm thank you for reporting this problem. I have a question for

It seems confusing: first request had the response, and the second had no response. Does the two cases happend sometimes?

## can you upload the log of cloud-worker here?

[2021-04-16 03:24] llhuii commented on #53
@Jw-Jm , you can simply get logs of cloud-worker with following command:
[code]

[2021-04-16 03:42] Jw-Jm commented on #53
@llhuii Thank you for your reply, following is the information required:

[code]

tips：A large number of duplicate messages like "POST/HTTP/1.1" 200 - have been deleted

[code]

[2021-04-16 04:01] llhuii commented on #53
@Jw-Jm According to your provided logs, your unstable networking is the main reason:
1. 200 reponsed some POST requests
2. the error of edge-worker also happened occasionally
3. 405 is the response of your manully curl command
4. And your second curl was refused due to network error

[2021-04-16 04:03] llhuii commented on #53
@Jw-Jm can you help to double check the second item?
If so, I think we could close this one.

[2021-04-16 06:10] llhuii commented on #53
For your information, the `NewConnectionError` (edge-worker connecting to cloud-worker) error also occurs at the beginning of edge-worker running, at this time cloud-worker is not ready for serving request.

[2021-04-16 06:16] llhuii commented on #53
But not your this case, since cloud-worker was ready at `[2021-04-16 01:17:06,984]` before `NewConnectionError` was reported at `[2021-04-16 02:32:48,383]`

[2021-04-16 06:31] llhuii commented on #53
I noticed you run this service for a while, we have a issue in high disk usage for storing hard examples, you may need to check the `/joint_inference/output` disk usage using `du -d 1 -h /joint_inference/output` at node3.

Sorry for this issue recorded here https://github.com/kubeedge/sedna/issues/27#issuecomment-811000454, it will be fixed in this month.

[2021-04-16 06:43] llhuii commented on #53
What's your actual network status?

[2021-04-16 06:58] Jw-Jm commented on #53
@llhuii
Thank you for your kind reply. I have tested it and it is indeed as you said.
error logs is caused by network instability.
In fact, I can see some analyzed pictures in the directory(/joint_inference/output/hard_example_cloud_inference_output) of Edge.
by the way, thanks for reminding me of issue #27, I will pay attention on disk usage

[2021-04-16 07:00] Jw-Jm commented on #53
My actual scenario is as follows:
two virtual machines in VMware（one master one edge）, network connection is the bridge mode

[2021-04-16 09:06] llhuii commented on #53
Thank your response.
I close this now. If you have any question, you can reopen it.
/close

[2021-04-16 09:06] #53 closed

[2021-04-20 06:42] llhuii opened #54 "the issue of downloading the raw images in dataset"
In the #18, I proposed to add an init-containers to download dataset/models before running workers.

In the incremental-learning example, the user creates a dataset with the url `s3://helmet_detection/train_data/train_data.txt`, where `train_data.txt` only contains the label info, not the image blobs.

So where and who does download these images?

[2021-04-20 18:49] jaypume opened #55 "Model Management module is needed."
## Why a model management module is needed?

Currently, the model management capability of Sedna is fragmented and has the following problems:
#### 1. Unclear module responsibilities.
It is found that the code for model uploading and downloading was duplicated in different modules(LC and Lib in Sedna), and they were even in different languages.
In this case, for example, if you want to extend the

[2021-04-21 14:26] EnfangCui commented on #16
# Overall Solution
## Design Details

### CRD API Group and Version
The `HeteroInferenceService` CRD will be namespace-scoped.
The tables below summarize the group, kind and API version details for the CRD.

* HeteroInferenceService

| Field                 | Description             |
|-----------------------|-------------------------|
|Group                  | sedna.io     |
|APIVersion

[2021-04-22 07:46] cgafool opened #56 "bug?"
https://github.com/kubeedge/sedna/blob/f77563236f29f1827a2069e6d862292defd7030c/pkg/globalmanager/incrementallearningjob.go#L119

It should be ijControllerKind, just like  line 55 defined.

[2021-04-22 08:33] llhuii commented on #56
@cgafool Hi, thank you for pointing it out. It is a bug indeed.
But it's weird that it doesn't have the big effect as it should be.

Can you submit a pr for fixing it if you don't mind it?

[2021-04-22 08:44] llhuii commented on #56
The cases this bug affects are that when the training/eval pod fails to run, GM misses to update the status of `incremental job`.

If the training/eval pod runs successfully, pod calls lib to tell LC, then to GM, then GM sets the status of `incremental job` to **completed**.

[2021-04-22 12:07] HtcOrange opened #57 "There is something wrong when I deploy the jointinferenceservice example..."
## What happened?
I successfully deployed the sedna with following the documentation of installation, then I saw gm and lc pod are running, like this:
[code]
Then I tried the Helmet Detection Experiment. And I built images and models we needed, like this:
[code]

Finally I Mock Video Stream for Inference in Edge Side:
[code]

**After these, I can't see any container or pod is running, why? And the

[2021-04-23 01:50] weimingwill opened #58 "Add an example of implementation Federated Learning to ReID"
Propose to add a new example of implementation of federated learning to ReID. It is more close to real-world applications.

The details can refer to the paper in ACM MM'20: [Performance Optimization of Federated Person Re-identification via Benchmark Analysis](https://dl.acm.org/doi/10.1145/3394171.3413814)

The original implementation can be found at https://github.com/cap-ntu/FedReID.

[2021-04-23 06:18] JimmyYang20 commented on #57
please check whethere little model is in the edge node , and whether the big model is in the cloud node.

[2021-04-23 15:16] ugvddm commented on #58
sounds like a good idea. would you like introduce it in community reguler meeting next week?

[2021-04-26 09:25] weimingwill commented on #58
Sure. Maybe the next regular meeting after this week's one.

[2021-04-26 09:30] weimingwill opened #62 "How does federated learning server and client communicate through KubeEdge?"
Hi,

The server and client of federated learning communicate through `websocket` in the example provided here https://github.com/kubeedge/sedna/blob/d3a647261a5d4dc25a0f4e60bf66adf1f23031f6/lib/sedna/federated_learning/aggregator.py#L122.

While I cannot find the settings that actually bind the IP and Port to environment variables ENV. I am also wondering (1) whether the websocket is through KubeE

[2021-04-26 12:04] llhuii commented on #62
setting by federatedLearning controller in gm.
https://github.com/kubeedge/sedna/blob/d3a647261a5d4dc25a0f4e60bf66adf1f23031f6/pkg/globalmanager/federatedlearningjob.go#L443

A separate connection is used.

[2021-04-26 13:15] weimingwill commented on #62
Thanks.

[2021-04-26 13:15] #62 closed

[2021-04-26 13:33] ugvddm commented on #58
nice

[2021-04-29 02:27] llhuii commented on #18
would fixed by
https://github.com/kubeedge/sedna/pull/52
https://github.com/kubeedge/sedna/pull/61

[2021-04-29 02:43] llhuii commented on #56
Sorry, i will take this for release 0.2.0

[2021-04-29 03:53] llhuii commented on #57
@HtcOrange can  you put some logs using the following command?
[code]

[2021-04-29 08:26] JoeyHwong-gk commented on #46
Rethinking after our Weekly Community Meeting [2021-04-29]，Contributor Experience has been discussing the lib refactoring of sedna and looking into how to make the lib more efficient and maintainable. To summarize the discussions:

1. Sedna formulate policies based on the variables defined in config，some of them should not be maintained by the deployer but by the developer ( hard_example_mind_algo

[2021-04-29 08:30] JoeyHwong-gk commented on #46
Examples are as follows:

`### start a api server（for example: rest server in join-inference and ws server in federated-learning）
def run_server():
    job = FederatedLearning()

    server = AggregationServer(
        servername=job.job_name,
        host=job.agg_ip,
        http_port=job.agg_port
    )
    server.start()

def fl_train():
    fl_instance = FederatedLearning(model=CNNModel, # like

[2021-04-29 10:09] jaypume commented on #50
Hi @XinYao1994 ，it's very nice of integrating Plato to Federated Learning feature of Sedna.

But I don't think the CRD interface should expose "PlatoConfig" to sedna user, because of:
- **User configuration is not intuitive**
For Sedna federated learning task deployers, they need to manually open the sdd_rcnn.yaml file to check deployment parameters, which is cumbersome and unintuitive.
- **Ineleg

[2021-04-30 08:02] #56 closed

[2021-04-30 13:18] #19 closed

[2021-04-30 13:19] #18 closed

[2021-04-30 13:20] #54 closed

[2021-04-30 13:21] llhuii commented on #51
/close
closed by #52

[2021-05-02 18:03] jeffzhu503 commented on #55
Based on this GitHub issue and the PowerPoint file circulated in the group, I am not clear what exactly the current design is.  I assume that we don't have ModelManager yet.  Are there two different proposals now?  One is to introduce ModelManager, the other is Model Operator on slide #7?   We need to identify the key difference between the manager, and the operator if we do have two different pro

[2021-05-05 09:55] XinYao1994 commented on #50
Hello, thanks for your suggestions! @jaypume

1．Add Plato Config into the CRD interface.
- Agree with @jaypume

2．Classification of Plato config parameters and suggestions for adding parameters in Sedna.

| Catalog                  | Name                     | Meaning                                                              | Plato                   | Sedna     |
|--------------------------|--

[2021-05-10 10:22] ugvddm commented on #58
We are designing reID based on the edge-cloud collaborative AI framework sedna. A community contributor  did research :https://docs.qq.com/pdf/DSEdKd0F0TWd2blpl.
Your work as  you said above, I think we can work together to build a amazing reID feature.

[2021-05-11 05:48] weimingwill commented on #58
Looks cool. This [doc](https://docs.qq.com/pdf/DSEdKd0F0TWd2blpl.) focuses more on person ReID inference. While using federated learning focuses more on training.

[2021-05-11 08:47] ugvddm commented on #58
Agree with you, FedReID can improve re-identification accuracy in our current work, Do you have time for the regular meeting this Thursday? Please introduce your work to community, and discuss how to collaborate.

[2021-05-11 09:21] llhuii opened #66 "Add GlobalManager high availability support"
**What would you like to be added/modified**:
Add GlobalManager multi-instance support for high availability and high throughput.

**Why is this needed**:
Currently GlobalManager is deployed as a k8s deployment with replicas=1, and only one instance is supported.

For GlobalManager's high availability and high throughput, we need to deploy GlobalManager with replicas >=2.

[2021-05-11 09:32] llhuii commented on #66
## Proposal
Leverage the client-go leader-election feature, see [the example](https://github.com/kubernetes/client-go/blob/master/examples/leader-election/main.go).

Also see these `--leader-` options in [kube-controller-manager](https://kubernetes.io/docs/reference/command-line-tools-reference/kube-controller-manager/#options).
[code]

[2021-05-11 09:36] #2 closed

[2021-05-12 12:11] weimingwill commented on #58
Sure.

[2021-05-18 07:02] llhuii opened #67 "[Incremental Learning] Add the support with different `nodeName` of train/eval workers"
**What would you like to be added/modified**:
Currently in the feature of incremental learning, the `nodeName`s of dataset and train/eval workers should be same.

When the dataset is in shared storage, the support with different nodeName could be added

**Why is this needed**:
1. In principle we can't require the user must train and eval model in same node.
2. Train requires much more resources th

[2021-05-18 08:02] llhuii commented on #67
## How
The ideas:
1. the central is the FSM(finite state machine) translation of a incremental learning job(for short, just using job word below)
2. GM and one LC translate the FSM of a job ==> GM and multi LCs translate the FSM

steps:
1. the user creates a dataset with a nodeName(says node-dataset), and labels the data periodly. And node-dataset's LC monitors the data.
2. the user creates a job

[2021-05-18 08:08] llhuii commented on #67
## implementation details
1. downstream controller: GM syncs to the selected LC depending the stage.
2. incremental-learning controller: nothing to change
3. LC: able to reload a job from specified state; check the node of next stage whether changed or not.

[2021-05-19 02:51] jaypume commented on #55
@jeffzhu503 Sorry for making you misunderstood.

In Sedna, there is only a simple model object (crd) that contains one field named "model_url", the model crd is so simple that it's not a ModelManager. However, we find that there have requirements for model management in may scenarios. Therefore, we hope that a ModelManager component can be created as a basic component to better serve upper-layer A

[2021-06-01 01:45] Poorunga opened #73 "The style of the icons in the readme file is not uniform"
**What would you like to be added/modified**:

![image](https://user-images.githubusercontent.com/43004096/120255156-eca86b00-c2bd-11eb-9c5b-9ad3df77d007.png)

As you can see, icon `license` is a flat style, which is incompatible with other icons

**Why is this needed**:

[2021-06-01 02:58] hardwind-wang commented on #73
good issue.
we should be nice to OCD patients. :)

[2021-06-02 10:28] llhuii commented on #66
see my personal https://github.com/llhuii/sedna/issues/6
I will take an english version

[2021-06-02 12:06] llhuii commented on #73
fixed by #75
/close

[2021-06-02 12:06] #73 closed

[2021-06-03 07:57] EnfangCui opened #77 "Add multi-edge collaborative inference support"
## Motivation
Multi-edge collaborative inference refers to the use of multiple edge computing nodes for collaborative inference. This technology can make full use of the distributed computing resources of edge computing nodes, reduce the delay of edge AI services and improve inference accuracy and throughput. It is a key technology of edge intelligence Therefore, we propose a multi-edge collaborat

[2021-06-04 09:39] llhuii opened #85 "lifelong learning enhancements tracking issue"
This issue is to track these known lifelong learning added in #72 enhancements to be done:
- [ ] KB server need its standalone code directory instead of placing into lib directory
- [ ] KB API need to be reviewed again(such as /file/download, /file/upload)
- [ ] Reduce KB image size(v0.3.0 is 1.28G showed by docker-images)
- [ ] In multi-task-learning of lib code, need to add docs and code comment

[2021-06-07 02:22] llhuii commented on #46
fixed by #72
/close

feel free to reopen this

[2021-06-07 02:22] #46 closed

[2021-06-07 02:59] llhuii commented on #67
![the sequence diagram of the solution](http://www.plantuml.com/plantuml/png/TLF1Rjim3BthAuXUkW5rihINmOUXGm_5i7OOKEoM2sipYJQPyYHwGVz-OfGQSk8OI0ABV8_lFIhtKJ38q3bplHFfOxrSzWvPJnQDxvQH_Wx43LMjnMt0pfXh7CJpqBrICDY83_0hKZ1zeh6DxHCMuEhxvnVu-lFR5M3KtqdryTcST3yz00gqA1X9AlOj7O1F3vzc6oMWvR9jDKz8_z2LRRScFO_FK7rHJJKu6sMvHsbsxxDX2PQRG1sne8FV_jKOTJT27WAX4E08s5lPrR3crGBY7SIU6hknrC8Gt9fl5w3ZVs17zSIUIMHG9L8bhu-Yr2_

[2021-06-07 03:52] JoeyHwong-gk commented on #85
(sedna-example-lifelong-learning-atcii-classifier)[https://github.com/kubeedge/sedna/tree/main/examples/lifelong_learning/atcii] run fail

1. backend_type should change to `sklearn` not `tensorflow`

[2021-06-07 07:55] TymonXie commented on #77
Hi, Enfang, i think the concepts of 'client' and 'server' is too extensive, services and modules can not be distinguished.

[2021-06-07 08:03] TymonXie commented on #77
in my opinion, because we need a edge-edge collaborative inference, the definition of fully distributed may be more appropriate.
for example, we can replace 'clientWorkers' and 'serverWorkers' with 'inferenceWokers', and we can add a key words, such as 'collaborative algorithm‘，etc.

[2021-06-08 14:42] ugvddm commented on #77
It will be better to summit a proposal, we can comment it. right?

[2021-06-09 01:37] llhuii commented on #30
the image size of v0.3.0:
[code]

[2021-06-09 02:07] llhuii commented on #85
progress:
1. Reduce KB image size(v0.3.0 is 1.28G showed by docker-images) ==> reduced to 315MB

[2021-06-09 02:22] llhuii opened #90 "Automatically pushing docker-images when creating a release"
**What would you like to be added/modified**:
Add a github action for automatically pushing docker-images when creating a release.
**Why is this needed**:
1. automatically push instead of manually
2. the image should be consistent with the same code

[2021-06-09 03:41] llhuii commented on #67
Also need to support nodeSelector #44

[2021-06-09 03:51] llhuii opened #92 "Add examples images GPU version"
**What would you like to be added/modified**:
Add examples images GPU version.
**Why is this needed**:
Train/inference deep learning models in GPU is much quicker than in CPU, we need to add the corresponding GPU version for our examples.

[2021-06-09 06:32] JimmyYang20 opened #94 "【LC】"
**What would you like to be added/modified**:
Currently LC monitors structured data by downloading it, which consumes huge memory.
how to optimize it ?
**Why is this needed**:
1. LC runs on edge nodes that only has limited resources.

[2021-06-10 04:38] Congrool opened #95 "gm and kb pods are always in pending status"
**What happened**:
Hello, I tried to install sedna and encountered some problems. I followed the instructions of [Sedna installation document](https://github.com/kubeedge/sedna/blob/main/docs/setup/install.md), while the gm and kb pods were in pending status forever.

**What you expected to happen**:
gm and kb pods are ready and in running status.

**How to reproduce it (as minimally and precisely

[2021-06-10 07:20] llhuii commented on #95
Hi, thank you for reporting this problem.

K8s scheduler won't schedule pod to the nodes where taints the pod can tolerlate even you have added the labels.

As said in https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/#control-plane-node-isolation, by default keadm will mark the master with the taint `node-role.kubernetes.io/master`,  you need to untaint

[2021-06-10 08:25] Congrool commented on #95
@llhuii
Thank you for your reply.
Actually, there are two nodes in my cluster:
One master node also with cloudcore running on.
One edge node.

k8s version is 1.19.1, kubeedge version is 1.7.0.

I get what you mean and know the cause of the problem now.
I wanted to deploy gm and kb at master node and set `SEDNA_GM_NODE=master` , while the gm and kb can't tolerate the taint `node-role.kubernetes.io/

[2021-06-10 08:25] #95 closed

[2021-06-10 09:48] jaypume opened #96 "Edge AI Benchmark review"
**What would you like to be documented**:

**Why is this needed**:

[2021-06-16 11:46] JoeyHwong-gk commented on #85
S3 storage support is not user-friendly.

[2021-06-17 04:01] MooreZheng commented on #96
We are still calling for:
1. Core scenarios;
2. Learning scheme and related benchmark survey;
3. Test environments and settings.

[2021-06-17 08:33] cgafool opened #102 "decouple collaboration feature code and public code"
**What would you like to be added/modified**:
1. Partitioning folders  at "sedna/pkg/globalmanager/"  by collaboration feature  and place the corresponding code.
2. Partitioning folders  at "sedna/pkg/localcontroller/"  by collaboration feature  and place the corresponding code.
3. Decoupling upstream file by  collaboration feature and put  the corresponding code into  the  collaboration feature

[2021-06-17 08:50] cgafool opened #103 "Feature worker spec support configmap"
**What would you like to be added/modified**:
Feature worker spec configuration information can be injected through the configmap or  environment variables. （Currently, it is an environment variable.）

**Why is this needed**:
Developers have built-in containers on the Worker. The ConfigMap is equivalent to the configuration file of the native application. There can be one or more configuration fil

[2021-06-17 08:56] cgafool opened #104 "Incremental learning supports hot model updates."
**What would you like to be added/modified**:
Currently, models are updated through restart. infer worker.  Incremental learning is required to support hot model updates rather than only through restart.

**Why is this needed**:
inference engine supports model reloading.  Therefore, it is hoped that dynamic update can be supported.

[2021-06-17 09:06] llhuii commented on #67
/assign @JimmyYang20

[2021-06-17 09:06] llhuii commented on #102
/assign @JimmyYang20

[2021-06-24 15:20] hardwind-wang opened #111 "the ***trainingWorks*** design in federatedlearningjob.yaml"
Hi,  i do not quite understand the yaml design here. why are the 2 ***dataset*** sections and the 2 ***template*** sections in ***trainingWorkers*** here?

I guess what you mean is 2 edges with different datasets and different configurations. if this is the case, it makes more sense for me to have 2 ***worker*** sections under the ***trainingWorks*** and assign the dataset and template to the ***w

[2021-06-24 15:27] hardwind-wang opened #112 "he ***trainingWorks*** design in federatedlearningjob.yaml"
Hi,  i do not quite understand the yaml design here. why are the 2 ***dataset*** sections and the 2 ***template*** sections in ***trainingWorkers*** here?

I guess what you mean is 2 edges with different datasets and different configurations. if this is the case, it makes more sense for me to have 2 ***worker*** sections under the ***trainingWorks*** and assign the dataset and template to the ***w

[2021-06-24 15:29] hardwind-wang commented on #111
this issue is moved to the right ***kind/question*** label : https://github.com/kubeedge/sedna/issues/112

[2021-06-24 15:29] #111 closed

[2021-06-25 02:12] llhuii commented on #112
Hi, if I understand it correctly, `federatedlearningjob.yaml` is indeed what you say, i.e. `trainingWorks` is an array with element having two fields `dataset`, and `template`:
[code]

[2021-06-28 03:29] llhuii commented on #103
AFAIU, the worker configurations can be categoried into two cases:
1. managed by sedna system(specifically the component GM): e.g. dataset/model/hard-example-config, etc.
2. managed by worker: e.g. batch_size for training worker, source_video_url for inference worker, etc.

So this issue only cares the former case, and leaves the other case to the operator by editing the workers' spec template.

[2021-06-28 04:01] llhuii commented on #102
## Downstream refactor
#### Why is this needed:
Current downstream implementation is that all features synchronization from GM to LC are placed into the downstream.go file, its problem is when a new feature is to added, the developer needs edit this file again. So here want to place all logics of a new feature into a new folder or file.

#### Propose solution:
downstream.go provides the simple int

[2021-06-28 06:34] llhuii commented on #102
## Upstream refactor
Upstream is used to process all synergy AI features update from LC(Local Controller), then update the status of the corresponding objects.
#### Why is this needed:
Similar with downstream implementation, upstream implementation is that all process logic are placed into the upstream.go file, its problem is when a new feature is to added, the developer needs to edit this upstrea

[2021-06-28 08:42] vcozzolino commented on #57
I have exactly the same problem. No pods/containers are started by the joint inference service. Actually, the container images are not even downloaded which gives the impression that the service is not running at all. Some more details:

- Everything looks healty and running in my cluster (including kubeedge and sedna).
- I have tried custom and default paths for the /data path.
- This is part of

[2021-06-28 12:08] vcozzolino commented on #57
After some trial&error I managed to get everything running. From what I saw, using `apply` on the jointinferenceservices.yaml doesn't work.

I was using `kubectl apply` all the times but it never applied my changes so what I did was deleting it completely with `kubectl delete jointinferenceservice.sedna.io/helmet-detection-inference-example` and then recreating it.

This fixed my service, spawned

[2021-06-30 01:17] JoeyHwong-gk opened #113 "Wrong base model in surface defect detection example with the federated learning job"
**What happened**:
As I have successfully setup and run the surface defect detection example with the federated learning job. I have then use the model generated to run inference on other images in the Magnetic tile defect dataset. However, I have noticed that the results are not ideal, and the model always predicts "No defect" for all the images I fed into the model.

**How to reproduce it (as mi

[2021-06-30 09:29] llhuii commented on #67
note:
1. cleanup:  goroutine for the incremental job should be stopped when no needed.

[2021-06-30 12:19] JimmyYang20 commented on #67
@llhuii delete goroutine when no needed

[2021-07-01 10:04] vcozzolino opened #114 "Kubeflow vs. Sedna"
I'm trying to understand the differences between Kubleflow and Sedna+KubeEdge. For the sake of simplicity, I will report here the relative (shortened) definitions:

- **Kubeflow**. Kubeflow is an end-to-end Machine Learning (ML) platform for Kubernetes, it provides components for each stage in the ML lifecycle, from exploration through to training and deployment.
- **Sedna**. Sedna is an edge-clou

[2021-07-02 11:25] vcozzolino opened #115 "Federated Learning - Cloud worker not exiting"
**What happened**:
The cloud worker (aggregator) is not exiting after the edge trainers are done. Also, it's basically idle (so not using any computer power) which makes me believe that it's either stuck or not reaching the end of its lifecycle.

**What you expected to happen**:
Cloud aggregator to exit and release resources allocated by the pod.

**How to reproduce it (as minimally and precisely

[2021-07-04 13:32] ugvddm commented on #113
/assign @JoeyHwong-gk

[2021-07-05 07:16] llhuii commented on #114
Hi, thank you for your great analysis!

Sedna is aimed at edge-cloud collaborative training/inference features, it can be built on top of kubeflow.
But we find that kubeflow can't satisfy sedna's requirements for the below views:
1. **edge**: In theory edge-compute platforms like kubeedge are not needed for sedna. But in practice
  kubeeedge need to be involved, qnd kubeflow serving depends knativ

[2021-07-05 07:22] llhuii commented on #114
And for this your doubt:

You are right. Indeed sedna does like what you say, and is not aware of kubeedge existence.

[2021-07-05 07:28] llhuii commented on #114
So for more simplicity, flexibility and controllability, we decided that we implement these edge-cloud collaborative training/inference features throught crd/operators. And in the future, we can introduce and reuse kubeflow features into sedna.

[2021-07-05 13:54] JoeyHwong-gk commented on #115
Thank you for your detailed description. This is due to a problem introduced by lib refactoring, which we fixed in the newly pull request #106 .

[2021-07-06 07:08] JimmyYang20 commented on #104
## How
steps:
1. node that has infer worker says deploy-node
1. GM finds the job wait to deploy, syncs the job info to deploy-node's LC.  This LC checks eval results to trigger deploy model. If satisfied to update model, this LC  downloads the trained model to local volume at deploy-node and sends the ready-to-deploy state to GM. If not satisfied to update model, this LC sends the no-deploy state

[2021-07-06 07:08] JimmyYang20 commented on #104
![image](https://user-images.githubusercontent.com/25048074/124557360-006e6080-de6c-11eb-8e4c-d793f816c164.png)

[2021-07-06 07:09] JimmyYang20 commented on #104
![image](https://user-images.githubusercontent.com/25048074/124557416-111ed680-de6c-11eb-8417-2b4e570c4010.png)

[2021-07-06 07:39] JimmyYang20 commented on #104
![截图](https://user-images.githubusercontent.com/25048074/124561299-5218ea00-de70-11eb-9682-8d66d5654db3.PNG)

[2021-07-06 07:39] JimmyYang20 commented on #104
![截图](https://user-images.githubusercontent.com/25048074/124561353-60ff9c80-de70-11eb-913c-a89ec8c56a6c.PNG)

[2021-07-06 07:41] JimmyYang20 commented on #104
![image](https://user-images.githubusercontent.com/25048074/124561514-8ee4e100-de70-11eb-8c74-dc1315392003.png)

[2021-07-06 07:43] JimmyYang20 commented on #104
![截图](https://user-images.githubusercontent.com/25048074/124561833-e97e3d00-de70-11eb-8a44-f95ad66b7268.PNG)

[2021-07-07 06:25] llhuii commented on #67
fixed by #110
/close

[2021-07-07 06:25] #67 closed

[2021-07-07 07:20] MooreZheng commented on #96
Review procedure using Overleaf:
1. Read past issues and reviews about the benchmarking in https://github.com/kubeedge/sedna/issues and also overleaf
![image](https://user-images.githubusercontent.com/10807366/124716625-e0f03a00-df36-11eb-8730-8ff3ba7de2e3.png)

2. abcv
1. Create new issues in https://github.com/kubeedge/sedna/issues;

[2021-07-07 08:28] MooreZheng commented on #96
If anyone would like to be an author of the benchmark, please contact me for registeration by email zimu.zheng@hotmail.com. A registered author can have direct access to the up-to-date overleaf document, have the right to write or modify benchmark content, read overleaf reviews and have more timely response on submitted issues.

For a registered author, the suggested writing procedures on Overleaf

[2021-07-07 23:43] YuxiaoHu opened #118 "Edge AI Benchmark review: Consolidate/Prioritize metrics"
The draft benchmark version looks good, which is a nice start point. Thanks for the great efforts!

Issues:  There are too many metrics, which lead to two problems:

[2021-07-07 23:45] YuxiaoHu opened #119 "Edge AI Benchmark: add step by step instructions for users to benchmark their works"
I suggest to add step by step instructions for users to benchmark their works, e.g.  where to download the data, how to format their results, how to run the test codes,  where to upload their codes/results, etc.  It will be great, if we can provide scripts/tools to automate the whole process. This will reduce the overhead of benchmarking and make Edge AI Benchmark user friendly;

[2021-07-07 23:46] YuxiaoHu opened #120 "Edge AI Benchmark: add “leaderboard/forum”"
In a future version, I suggest to add “leaderboard/forum” for academic and industrial users to publish their latest progresses and discuss feedbacks/questions/concerns about data, metrics, benchmarks, and algorithms, etc. This may attract more interests about Cloud-Edge AI, Sedna , related learning schemas and scenarios.

[2021-07-08 10:15] MooreZheng commented on #96
Related Open Issues from Review:
https://github.com/kubeedge/sedna/issues/118
https://github.com/kubeedge/sedna/issues/119
https://github.com/kubeedge/sedna/issues/120

[2021-07-14 07:55] JimmyYang20 commented on #104
![image](https://user-images.githubusercontent.com/25048074/125585010-d20fbdf3-e835-44d3-8bfb-dbe5118e5eaf.png)

[2021-07-14 07:55] JimmyYang20 commented on #104
![image](https://user-images.githubusercontent.com/25048074/125585093-e6e62475-4f1f-4914-b374-1c387faf6a8a.png)

[2021-07-15 03:09] llhuii opened #122 "Use memory storage for etcd in e2e github action to speed up"
**What would you like to be added/modified**:
Use memory storage instead of the default disk for etcd in e2e.

See https://github.com/kubernetes-sigs/kind/issues/845.

**Why is this needed**:
This can speed up the e2e checker.

[2021-07-15 18:12] jeffzhu503 opened #123 "KubeFlow for KubeEdge: Identify components (operators) for the model management module or system in the Production phase"
Currently, we have issue #55 looking for the model management module for KubeEdge.  The community has a great open source project KubeFlow which has most of the components we may need in KubeEdge in order to manage the ML process. I suggest we create a task called KubeFlow for KubeEdge.

For this task: we will need to identify
1. Which components in KubeFlow are required for the production phase.

[2021-07-15 18:18] jeffzhu503 opened #124 "KubeFlow for KubeEdge: verify if the pipeline is needed for KubeEdge"
Currently, we have issue #55 looking for the model management module for KubeEdge. The community has a great open source project KubeFlow which has most of the components we may need in KubeEdge in order to manage the ML process. I suggest we create a task called KubeFlow for KubeEdge.

In KubeFlow, pipeline plays a critical role to manage the containers in the process of experiment or production

[2021-07-15 18:24] jeffzhu503 opened #125 "KubeFlow for KubeEdge: the role of microservices and the real use cases for these microservices"
Currently, we have issue #55 looking for the model management module for KubeEdge. The community has a great open source project KubeFlow which has most of the components we may need in KubeEdge in order to manage the ML process. I suggest we create a task called KubeFlow for KubeEdge.

In the original design, there is a concept called In Kubernetes vs On Kubernetes.
In Kubernetes means these comp

[2021-07-19 08:16] cgafool opened #126 "Compile and Build Documentation Request"
**What would you like to be documented**:
Request  document guide:
1. Compile the GM independently.
2. Independently compile the LC.
3. Create an image
**Why is this needed**:
Personal compilation has found many bugs, and it takes too much time to fix them one by one.

[2021-07-19 08:24] cgafool opened #127 "Sedna and one-stop AI platform integration"
**What would you like to be added/modified**:
How to integrate Sedna with offline AI platforms, such as users' own one-stop AI platforms, such as apulis_platform（https://gitee.com/apulisplatform/apulis_platform)， It is recommended that the K8S controller mechanism be used to interconnect with the DL platform，alternatively, virtual-kublet integration
**Why is this needed**:
Currently, there are a l

[2021-07-19 08:28] cgafool opened #128 "Architecture optimization (non-urgent)"
**What would you like to be added/modified**:
1. In non-edge-cloud synergy scenarios, only K8S is available. Can the simplified architecture GM and LC be considered as one container and one component?
2. In the edge-cloud synergy scenario, how can the LC run continuously when the edge-cloud connection is disconnected?3
**Why is this needed**:
These two scenarios are common.

[2021-07-19 08:33] cgafool opened #129 "Intelligent collaborative O&M"
**What would you like to be added/modified**:
Take Incremental Learning as an Example
1. Supports incremental learning of job status. (Job, Job Status, JobStage, JobStage Status) . POD status (POD and POD status), and worker service status (Worker, Worker status, Worker service output) centralized visualization and alarm reporting (If the alarm threshold is reached for a period of time, an alarm i

[2021-07-19 08:37] cgafool opened #130 "sedna lib-based data selection for ssl"
**What would you like to be added/modified**:
Currently, only hard sample data selection is available，sedna lib-based data selection scheme for semi-supervised learning is needed. It is recommended that data selection algorithms be continuously supported and enriched.
**Why is this needed**:
semi-supervised learning

[2021-07-19 08:45] cgafool opened #131 "Sedna Edge-Cloud Channel Optimization"
**What would you like to be added/modified**:
Optimization of channel or information interaction between edge and cloud
· Select an item based on the intelligent collaboration feature.
·Workers of the intelligent collaboration feature are dynamic object storage.
· The worker of the intelligent collaboration feature is permanently resident. You can use EdgeMesh, WebSocket, or object storage. (EdgeM

[2021-07-19 09:38] llhuii commented on #126
Just run those commands currently:

```make WHAT=gm```

```make WHAT=lc```

```make lcimage gmimage```

Will add theses develop docs.

[2021-07-19 10:59] davedavedavid opened #132 "Support Feature-based Collabrative Training"
**What would you like to be added/modified**:
Support Feature-based collaborative training, including
1. Support collaborative training CRD, including parameters of the feature extraction service and the feature training service, referenced model instance, and referenced dataset instance. Trigger configuration of the feature extraction service and feature training service.
2. Supports collaborativ

[2021-07-20 03:59] JimmyYang20 opened #133 "[Joint Inference] edge worker needs to fall back the available state when cannot connect cloud worker"
**What would you like to be added/modified**:
 edge worker needs to fall back the available state when  cannot connect cloud worker

**Why is this needed**:
the following situations don't guarantee that edge worker that has been started inference service can not connect the cloud worker:
1. the cloud worker restarts unexpectedly
2. edge node offline and the network is abnormal
3. GM can not create

[2021-07-20 04:02] JimmyYang20 commented on #133
/assign @JoeyHwong-gk

[2021-07-20 04:10] JoeyHwong-gk commented on #133
fix

[2021-07-20 06:34] llhuii commented on #102
/assign

[2021-07-22 07:49] jaypume commented on #50
Here is an example of crd based on discussion above:
[code]

[2021-07-23 09:16] #115 closed

[2021-07-23 09:58] JoeyHwong-gk commented on #113
It seems that an incorrect data set is used. If the original image cannot distinguish between damaged and normal images, it is recommended that the GT image in the dataset can be used for training.

[2021-07-27 08:52] llhuii opened #136 "`numberOfSamples` in dataset has been updated periodly even though the real data store no update"
**What happened**:
[code]
output:
![image](https://user-images.githubusercontent.com/419660/127124331-50bff908-8aa9-4509-a14f-680c087ca7fb.png)

**What you expected to happen**:
Because the real data store of this dataset has no update, I expect that no update in dataset `d1`
**How to reproduce it (as minimally and precisely as possible)**:
1. login the vm named edge-node which has been joined by

[2021-07-27 08:52] llhuii commented on #136
/assign @JimmyYang20

[2021-07-28 02:38] JimmyYang20 commented on #136
fix #137

[2021-07-30 01:19] #136 closed

[2021-07-30 02:08] llhuii commented on #114
/close
if any question, feel free open it

[2021-07-30 02:08] #114 closed

[2021-07-30 03:18] llhuii opened #140 "LC can't recover forever when the corresponding node restarted"
**What happened**:
Following [this incremental example](https://github.com/kubeedge/sedna/tree/main/examples/incremental_learning/helmet_detection), I created an incremental job.
And by adding enough samples, the job had completed the training worker, but when doing eval worker, its corresponding node restarted.
After a while, the node had returned to ready state, but LC can't recover, and be `Cra

[2021-07-30 03:19] llhuii commented on #140
/assign @JimmyYang20

[2021-08-02 06:42] EnfangCui opened #144 "Add contributing docs"
The contributing docs are needed for people who are interested in being a contributor  in developing the sedna. The contributing docs should include:

- Contributor workflow
- K8S controller development tools, such as kubebuilder or code-genetator
- Code test steps and tools
- Format of the commit message

etc.

Part of the content may refer to https://github.com/kubeedge/kubeedge/blob/master/CONT

[2021-08-03 01:25] llhuii commented on #144
relative issue #126
the tracking issue #3

[2021-08-03 09:35] llhuii opened #147 "Add a link checker github action"
**What would you like to be added/modified**:
Add a link checker github action.

**Why is this needed**:
Since a new pull request can introduce broken links, a link checker can be used to automatically detect this kind problems.

[2021-08-03 09:37] llhuii commented on #147
I have found some solutions in k8s community:
1. https://github.com/kubernetes/community/issues/359
1. https://github.com/kubernetes/website/blob/main/scripts/linkchecker.py

[2021-08-03 10:06] llhuii commented on #147
Note we only need to check the sedna repo links.

[2021-08-03 10:17] #102 closed

[2021-08-03 11:15] llhuii commented on #144
/remove-help

[2021-08-06 09:44] #133 closed

[2021-08-09 01:04] MooreZheng opened #151 "The module of task allocation is missing in lifelong learning and multi-task learning"
**What should be cleaned up or changed**:
Add an module of task allocation and move related codes from task mining to task allocation.

**Why is this needed**:
In the multi-task learning, The module of task allocation is missing, which serves as the predictor of task definition.
Given samples, task allocation assigns the corresponding task to the sample. Besides, the lifelong learning also need to

[2021-08-09 01:41] JoeyHwong-gk commented on #151
/assign @JoeyHwong-gk

[2021-08-12 02:48] #113 closed

[2021-08-12 02:55] llhuii commented on #144
@EnfangCui can you help to review #148?

[2021-08-12 02:59] llhuii commented on #126
@cgafool can you help to review #148? For compile/build documentation, you can focus on  [development.md ](https://github.com/llhuii/sedna/blob/add-contributing-docs/docs/contributing/control-plane/development.md)

Also:
1. [debug GlobalManager](https://github.com/llhuii/sedna/blob/add-contributing-docs/docs/contributing/control-plane/debug-gm.md)
1. [debug LocalController](https://github.com/llhu

[2021-08-12 03:35] llhuii commented on #77
/close
I close this due to this work has been transfered to the work of object search and tracking, see this pr #100 for more detail.

Feel free to reopen it.

[2021-08-12 03:35] #77 closed

[2021-08-12 03:41] llhuii commented on #57
/close
inactive for too long time

[2021-08-12 03:41] #57 closed

[2021-08-13 02:43] llhuii commented on #90
https://docs.github.com/cn/actions/guides/publishing-docker-images

[2021-08-13 02:56] llhuii commented on #90
https://docs.docker.com/ci-cd/github-actions/

[2021-08-13 09:17] llhuii commented on #112
/close
too long inactivity, reopen it if you have any other question.

[2021-08-13 09:17] #112 closed

[2021-08-13 10:17] #90 closed

[2021-08-17 03:38] jaypume opened #161 "[Enhancement Request] Enhance Sedna federated learning CRD and LIB interface."
**What would you like to be added/modified**:

- Support edge workers and cloud workers being started on demand to avoid GPU resource occupation.
- Support aggregation trigger, stop condition, client choose algorithm being configured through CRD.
- Add transmission interface to decouple transmission implementations, to support s3 and websocket protocal.
- Extend the aggregation interface to suppor

[2021-08-17 03:56] jaypume commented on #161
The following is proposed CRD, and it also already discussed before in issue #50 :
[code]

[2021-08-17 03:59] jaypume commented on #161
The following is proposed Lib interface, more detailed code can be found in PR:
**aggregate.py:**
[code]

**train.py:**
[code]

[2021-08-17 07:54] jaypume commented on #161
### Overall Sequence Diagram
![design](http://www.plantuml.com/plantuml/png/ZLNVRzjK57xtNt5L90hIHgahNY90axp2Iz2GDYalbP1htxfNSsph-cQiRyawIiU2MY1Zh6JhWhfIJQnf4NHR5x9_9lV6UUg_mEVu9d8QcFRWoFUSxtpdo_bnVIaMDXULic_CnbG85dXn0Q_NMH3Pt2uJdwrGdmNqgk2seDuQYKEVkOOnAvZmAL7t7_U_Er7LMj8waDsQkdUalZzCQet1hNtvRB_tyh5Hjbcm0YPAa4bGmtP4o8bB8pzSevpOCRcy-AM1P88vBB83GJx_0bRyJXXdYjPIuFXXnPr9lKNBcdHRgMifA8NyEkKp9CLO9VAEpxnL

[2021-08-17 08:02] jaypume commented on #161
###  AggregationTrigger Design

[2021-08-17 08:02] jaypume commented on #161
### PlatoConfig

[2021-08-17 08:02] jaypume commented on #161
### Representation Data Storage

[2021-08-17 14:30] JimmyYang20 opened #162 "[Federated Learning] train worker was error when it was failed firstly to connect the avg worker"
**What happened**:
Following [this federated learning example](), I created a federated learning job.
Train worker failed firstly to connect avg worker,  because the avg worker didn't run successfully.
Then, train worker was error and restarted.
Below is the error log of the train worker:

[code]
**What you expected to happen**:
When train worker cannot connect to the avg worker, it should try N(e

[2021-08-17 14:30] JimmyYang20 commented on #162
/assign @jaypume @JoeyHwong-gk

[2021-08-18 02:01] llhuii commented on #140
fixed by #152
/close

[2021-08-18 02:01] #140 closed

[2021-08-18 02:42] llhuii commented on #104
@JimmyYang20 Please provide the interface between LC and LIB.

[2021-08-18 11:47] JimmyYang20 commented on #104
Add optional the following fields in job spec:
[code]

[2021-08-18 12:06] JimmyYang20 commented on #104
## Componet sequence diagram

![](http://www.plantuml.com/plantuml/png/dLFDJjmm4BxxAKQvqcp3BWiqKYia3YqId2ZgPINaZITPW-D9xGbe1RnxatYDicgsLNl8mVFzVFRCvCApTDpMHh1cWt1b2uSrMfO6hb4wgsq5jstJa6CFDwJGm3TYk6kKPFH2D9rS5xgHbk7h3KWFLRrNJAulGJBWapIfxVH9pp45Jf4KDeQsOvhQfrtP4Xty8FU8RahmF212IPPhwH4IGuKqy4IchN5A492Hm2_W5jqJkW7s2o54LKFwfRzo3dvh2-0DmWEjGTkIH5T-Hmkg6uECmsE1fN_SWzdfgaAtkqF0fU5uZh3kOYLhNsfK0W1Wvr7LlOMqt

[2021-08-18 12:11] JimmyYang20 commented on #104
## Lib sequence diagram
![](http://www.plantuml.com/plantuml/png/XLHDRzf04BtlhnZv15A2Uke1gLMgG9fKf4GbKIz8QB77i64zQ-tEKaNAZ--ipGSEINl0ClFntipRvxqAh3t7oYh5XYt230lIC35BcCMwTfu3tBi2BTmwXgUwq8n1gLgQJ6vgJGpP7PNeCKVuxVm6VGOwGAKDTQj-k6MJUNRBRc8Ss5IQNTk8ePjjoEyTcNr1LR6IAVHI1uJCkbnRs3eRAspIxQjIQG2u_9heXa3uf-5LA-zYVTnHIJ0LOHX27hr7uiCqyALfE_plzHK6kDn3UkJe2N2Vxa1fQy_m1jRfejS7Tf3Ue4gBAQKj0z8MxgUZyMHnEtrSF3sClZs

[2021-08-18 12:24] JimmyYang20 commented on #104
## The interface between LC and LIB

api: http://\<LC-IP:Port address\>/sedna/workers/\<worker-name\>/info
example: http://localhost:9100/sedna/workers/inferworker-fm87v/info

message body:
[code]

[2021-08-19 08:28] llhuii opened #163 "`verify-codegen` checker failed when a new api add into `pkg/apis` and the generated `pkg/client` not updated"
**What happened**:
In #100, we have added a new api named `ObjectSearchService`, but `pkg/client` didn't update which should.

But our `verify` checker in https://github.com/kubeedge/sedna/blob/8485c90216ea02fe59cfe7d5147680317c62e8c8/.github/workflows/main.yaml#L36 didn't work.

**What you expected to happen**:

The `verify` checker should report error as expected.

**How to reproduce it (as mini

[2021-08-19 08:28] llhuii commented on #163
/assign

[2021-08-20 07:49] JimmyYang20 opened #165 "LC should also support arm64"
**What would you like to be added/modified**:
LC should also support be scheduled to arm64 devices.

**Why is this needed**:
Many edge nodes are arm64 devices(e.g., atlas500)

[2021-08-20 09:34] jaypume commented on #161
refer to https://github.com/kubeedge/sedna/issues/161#issuecomment-899973858

The following is corresponding environment variables passed to container:
[code]

[2021-08-21 08:06] JimmyYang20 commented on #161
[code]
@jaypume @llhuii
1. transimitter => transmitter ?
2. if ws is the default transmitter, why does the user still need to write it in the CRD. suggest to delete.

[2021-08-23 06:38] #162 closed

[2021-08-23 06:39] #163 closed

[2021-08-25 07:45] #144 closed

[2021-08-26 03:51] davedavedavid opened #170 "Support ARM Architecture"
**What would you like to be added/modified**:
Support ARMv8 architecture to run on Huawei AI Edge Station such as Atlas 500
**Why is this needed**:
Atlas 500 is needed by co-training feature as edge edvice
Also to expand sedna's support for heterogeneity

[2021-08-27 01:52] JiJiHu opened #171 "Support cross tenant federation learning"
**What would you like to be added/modified**: cross tenant federation learning

**Why is this needed**: We have a need that federal participants prefer to use personal accounts rather than one shared account

[2021-08-27 01:56] JiJiHu opened #172 "Support Federated Learning from Heterogeneous Data"
**What would you like to be added/modified**: Federated Learning from Heterogeneous Data

**Why is this needed**: In our case, the data of federated participants is heterogeneous (different data distribution or different dimensions)

[2021-08-27 07:37] jeffzhu503 opened #173 "Deploy document issues for"
Prerequisites
Kubectl with right kubeconfig
Kubernetes 1.16+ cluster running
KubeEdge v1.5+

**>  We need the details how to set up the prerequisites above.  For example, what kind of Kubernetes?  Can GCP, AWS managed Kubernetes work?  How can users set up KubeEdge v1.5+, including both CloudCore and Edge nodes? Do you ahve any specific edge node required?  Ideally to give a simple environment tha

[2021-08-27 23:36] jeffzhu503 opened #175 "Debug Deployment Document issues"
Debug
1. Check the GM status:
kubectl get deploy -n sedna gm

2. Check the LC status:
kubectl get ds lc -n sedna

3. Check the pod status:
kubectl get pod -n sedna

Uninstall Sedna
set the right node where edge node can be access
SEDNA_GM_NODE=sedna-control-plane
SEDNA_GM_NODE=CHANGE-ME-HERE

curl https://raw.githubusercontent.com/kubeedge/sedna/main/scripts/installation/install.sh | SEDNA_GM_NODE

[2021-08-28 02:31] llhuii commented on #175
@jeffzhu503 thank you for pointing these out. Can you help it?

[2021-08-28 02:31] llhuii commented on #175
/help

[2021-08-28 02:33] llhuii commented on #170
/assign

[2021-08-29 08:40] chou-shun opened #176 "IL: Why model training and model preservation are separated"
For mindspore, model saving is embedded in the model training process: `model.train(callbacks=)`

However, in `/lib/sedna/core/incremental_learning/incremental_learning.py`, training and saving are separated.
`res = self.estimator.train()`
`model_paths = self.estimator.save(self.model_path)`

Because of this constraint, I need to define a class variable `self. network` in the class `estimator` to

[2021-08-30 07:07] jaypume commented on #173
Thanks for find these details problems, and Sedna should provide an all-in-one image for the convenience of starting the next step.

In detail,
1. GCP, AWS managed Kubernets should work, because Sedna should have no special requirements for Kubernetes.
2. For how to set up KubeEdge, user should refer to KubeEdge documents. The installation steps should note be maintained by Sedna.

Sedna provided

[2021-08-30 07:44] llhuii opened #179 "Add hardware requirements for setup Sedna and Examples"
**What would you like to be documented**:
Add hardware requirements for Sedna and Examples.

**Why is this needed**:
Let users know the hardware requirements for setting up Sedna and each [Examples](https://github.com/kubeedge/sedna/tree/main/examples).

[2021-09-01 03:00] JimmyYang20 commented on #176
/assign @JoeyHwong-gk

[2021-09-01 03:08] JimmyYang20 opened #180 "Support mindspore backend"
**What would you like to be added/modified**:
Support mindspore backend.

**Why is this needed**:
some scenes need to support mindspore

**Steps**:
1. add mindspore backend. (8/30)
2. add e2e incremental learning example. (10/30)

[2021-09-01 03:11] JoeyHwong-gk commented on #176
Sedna requires the estimator to decouple a `save` interface because the user would like to save the model to obs, which is a base implementation of sedna. for example:

sedna.estimator.save include [ localpath = ms.save -> target_s3_path = sedna.file_upload(localpath) [-> Obtaining Authentication Information from CRD config -> send file -> remove local file] ]

[2021-09-01 03:18] JoeyHwong-gk commented on #176
Also, We believe that the `save` method will be expanded in the future, such as model compression, encryption, and transformation

[2021-09-01 03:27] JoeyHwong-gk commented on #179
[link](https://github.com/kubeedge/sedna/issues/30#issuecomment-857304486) #30 .

We believe a image compression work is underway. Shall this issue be processed after that work completed?

[2021-09-01 13:57] yunzhe99 opened #181 "A local sedna (just like minikube for k8s) is needed"
What would you like to be added/modified:
    I think Sedna will be accepted by more people if there is **a local version of Sedna**. This version should be able to run on one server and then use virtual machines to simulate the entire cluster. More importantly, this version should be able to be run quickly **from scratch**, with support for rapid modification and experimentation. I believe that t

[2021-09-02 01:45] #104 closed

[2021-09-02 04:03] llhuii commented on #181
Good suggestion. We also have some dicussion, and I will be focused on this in this month.
/assign
Note: A local up script based on the latest main branch is [here](https://github.com/kubeedge/sedna/blob/main/docs/setup/local-up.md), maybe helpful for you even though it is friendly to the end users.

[2021-09-08 03:50] JimmyYang20 opened #188 "[Federated Learning] GM was error when injecting two same hostpath mount"
**What happened**:

create two models that have same url
[code]

**What you expected to happen**:
when create the federated learning job, gm was error.
[code]

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
<details><summary>Sedna Version</summary>

[code]

</details>

<details><summary>Kubernets Version</summary>

[code]

<

[2021-09-08 13:36] llhuii commented on #188
/close by #187

[2021-09-08 13:37] #188 closed

[2021-09-09 02:56] Liu-JJ97 opened #189 "You need to specify it by setting SEDNA_GM_NODE environment variable when running this script!"
I encountered a problem during the installation, how to solve this problem ？

Error from server (NotFound): nodes "sedna-control-plane" not found
ERROR: GM node name `sedna-control-plane` does not exist in k8s cluster!
You need to specify it by setting SEDNA_GM_NODE environment variable when running this script!

[2021-09-09 03:02] #189 closed

[2021-09-09 12:09] Liu-JJ97 opened #191 "It always gets stuck in this place, can you tell me what to do?"
namespace/sedna created
node/master labeled
customresourcedefinition.apiextensions.k8s.io/datasets.sedna.io created
customresourcedefinition.apiextensions.k8s.io/federatedlearningjobs.sedna.io cre                                                                            ated
customresourcedefinition.apiextensions.k8s.io/incrementallearningjobs.sedna.io c

[2021-09-10 00:42] JoeyHwong-gk commented on #191
Are you using any proxies? put more details about your installtion

[2021-09-10 08:25] llhuii commented on #181
Now we can create a k8s cluster with kubeedge and sedna locally exactly do what kind do:
1. Multi edge nodes with NUM_EDGE_WORKERS
2. Multi cloud workers except master node with NUM_CLOUD_WORKERS

It just requires docker, and kind.

You can try it:
[code]

Then you can play it with `kubectl`.

Clean it:
[code]

More things to be fixed:
- [ ] Fix cni of edge node
- [ ] Install kind if missing

[2021-09-10 08:50] llhuii opened #193 "Add a github action to automatically update the version info in script/lib when creating a release"
**What would you like to be added/modified**:
There are many places hard coding the version, but they are required to be updated when a new release is created:
- install script: https://github.com/kubeedge/sedna/blob/e110ac77b1141b83eb72df3c49ab87682d7061f5/scripts/installation/install.sh#L21
- makefile: https://github.com/kubeedge/sedna/blob/e110ac77b1141b83eb72df3c49ab87682d7061f5/Makefile#L21
-

[2021-09-11 08:54] Liu-JJ97 commented on #191
Yes, I used a proxy, I downloaded the source code to the local, and then used the command to execute. If I don’t use the proxy, the install.sh file cannot be downloaded. Is it possible to execute the install.sh file locally? How should I execute it?

[2021-09-11 10:13] JoeyHwong-gk commented on #191
Try the following solutions and provide your feedback please.
[code]

[2021-09-11 10:32] Liu-JJ97 commented on #191
error: error when creating "build/crds/sedna.io_incrementallearningjobs.yaml": Post https://192.168.137.6:6443/apis/apiextensions.k8s.io/v1/customresourcedefinitions: stream error: stream ID 7; INTERNAL_ERROR

[2021-09-12 16:38] llhuii commented on #191
@Liu-JJ97 looks like api-server has problem to connect etcd. Can you check your etcd server?

[2021-09-12 16:48] llhuii commented on #191
https://github.com/etcd-io/etcd/issues/11809
https://github.com/kubernetes-sigs/kind/issues/717#issuecomment-512507692

Look like it is the disk IO issue

[2021-09-14 07:04] cgafool opened #194 "Problems with the use of lib"
**What would you like to be documented**:
1、It is recommended that the community add the lib usage mode
2、In particular, you need to ensure that the lib code is used with minimal dependencies.
3、Basic lib operators need to be enriched and  to be decoupled support various development modes of developers. such as dataset transformation、sample diversity partitioning and so on.

**Why is this needed**

[2021-09-14 07:06] cgafool commented on #194
Labels:
1->kind/documentation
2->kind/documentation、kind/features
3->kind/features

[2021-09-14 07:07] JimmyYang20 commented on #194
/assign @jaypume @JoeyHwong

[2021-09-14 07:10] JimmyYang20 commented on #194
/assign @jaypume

[2021-09-14 08:02] llhuii commented on #181
You can try it using this katacoda course, https://www.katacoda.com/sedna-ai/scenarios/all-in-one

[2021-09-14 09:34] JoeyHwong-gk commented on #151
/assign @JimmyYang20

[2021-09-14 09:52] jaypume commented on #194
Sure, optimization of Sedna's dependency needs to be done.

If it is still not satisfy the requirement after optimization of Sedna, maybe we can consider that release a package like `Sedna-mini` to apply to different scenarios.

Some work of enhanced features about datasets is doing currently in Sedna,   maybe we can have more discussion about what should Sedna provide about datasets.

[2021-09-15 08:28] khalid-jobs commented on #147
/assign

[2021-09-17 03:29] Liu-JJ97 commented on #191
Thank you very much. I closed the proxy and resolved it successfully.

[2021-09-17 03:35] Liu-JJ97 commented on #191
Thank you very much. I closed the proxy and resolved it successfully.

[2021-09-17 04:11] llhuii commented on #191
Thanks for the feedback.
/close

[2021-09-17 04:11] #191 closed

[2021-09-17 05:47] Liu-JJ97 opened #198 "Steps"
I don't know which one to choose. 1. I need to install sedna on the cloud and the edge respectively, prepare a big model on the cloud, prepare a little model on the edge, and create services separately. 2. Install sedna in the cloud, prepare images(big and little) in the cloud, and create services separately

[2021-09-17 06:35] JoeyHwong-gk commented on #198
In [JointInferenceService](https://github.com/kubeedge/sedna/blob/main/docs/proposals/joint-inference.md), localcontroller should be ready in all nodes after **once** `sedna` [installtion](https://github.com/kubeedge/sedna/blob/main/docs/setup/install.md).
then:
follow [example](https://github.com/kubeedge/sedna/tree/main/examples/joint_inference/helmet_detection_inference) run your service.

Reco

[2021-09-17 07:34] davedavedavid opened #199 "Support gm-lc communication cross-network segment"
**What would you like to be added/modified**:
Support gm-lc communication cross-network segment
**Why is this needed**:
LC would fail to connect to gm when the edgenode is in different network segment with K8S cluster，which is a common networking scenario.

[2021-09-17 09:15] badbruce opened #202 "Cloud node lost contact after running the joint influence service"
**What happened**:
When running the Joint Inference Service, it is found that the node has lost contact and cannot be pinged.
After modifying the configuration file of the joint influence service, the node returns to normal
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
<details><summary>Sed

[2021-09-17 09:45] llhuii commented on #199
We need to install and enable [kubeedge edgemesh](https://github.com/kubeedge/edgemesh) to support this.

[2021-09-18 09:07] #181 closed

[2021-09-22 09:21] JoeyHwong-gk commented on #194
Please follow #184 , the basic dependencies on each feature should removed from `requirement.txt`. You can run `pip install sedna[all]`  to install all the dependencies or just install the dependencies of target feature (e.g lifelong_learning) by `pip install sedna[ll]`.
By default, the dependencies related to each single feature won't installed.

@jaypume

[2021-09-23 08:41] Liu-JJ97 commented on #198
After the step of "Mock Video Stream for Inference in Edge Side", there are four pictures in /joint_inference/output/output/, how should i do to Check Inference Result?

[2021-09-23 08:54] Liu-JJ97 commented on #198
![image](https://user-images.githubusercontent.com/62584534/134479644-cee9af7f-3330-45ff-a535-b6591c1383d2.png)

[2021-09-23 12:19] JoeyHwong-gk commented on #198
In `JointInferenceService` example, [here](https://github.com/kubeedge/sedna/blob/3b7536891fa219a859472565f21492e13208940f/examples/joint_inference/helmet_detection_inference/little_model/little_model.py#L154)  defines the inference behavior that occurs every 10 frames, then the [inference result](https://github.com/kubeedge/sedna/blob/3b7536891fa219a859472565f21492e13208940f/examples/joint_infere

[2021-09-23 12:32] Liu-JJ97 commented on #198
Yes, I understand the idea of this project, what I want to consult is when I execute "ffmpeg -re -i /data/video/video.mp4 -vcodec libx264 -f rtsp rtsp://localhost/video",that is to say the last step in the document,the result is the picture above, what should I do to get the verification result, what command should be executed, can Get the final picture result in the document .

[2021-09-23 12:36] Liu-JJ97 commented on #198
My folder "hard_example_cloud_inference_output" and "hard_example_edge_inference_output
" are  empty , is there something wrong?

[2021-09-24 00:50] JoeyHwong-gk commented on #198
`ffmpeg` process the video content and transmits each frame to the program for inference, this raw data will not be saved, what you seen in your `outputdir` is the final results. Just download them for `Helmet Detection Results`.

 "hard_example_cloud_inference_output" and "hard_example_edge_inference_output" only save the inference result of hard examples.

[2021-09-26 01:47] JensenJian opened #203 "Life long learning SDK documentation missing"
**What would you like to be documented**:
Sedna python SDK  documentation regarding life long learning-feature example

**Why is this needed**:
1. Due to the life-long learning feature. It needs to construct a knowledge base, and I am not sure how to do that in an SDK situation.
2. For now, the Sedna Python SDK documentation only mentions how to construct an estimator and initialize an incremental

[2021-09-26 03:48] JoeyHwong-gk commented on #203
As so far, `knowledgebase` is a closed component of the [lifelong learning feature](https://github.com/kubeedge/sedna/blob/main/docs/proposals/lifelong-learning.md), uses a relational database as a backend to store knowledge (model、sample、task 、relation etc.) . Sure that sedna community will open up the related interfaces, even though not open now, follow [here](https://github.com/kubeedge/sedna/i

[2021-09-26 03:50] JoeyHwong-gk commented on #203
/assign @JimmyYang20

[2021-09-26 04:07] JensenJian commented on #203
Hi Joey,
It is not about the interface in this issue, what I mean is I need a documentation to tell me what specific environment variables is needed (such as MIN_TRAIN_SAMPLE, MODEL_URLS, KB_SERVER etc.), plus it require user run the run_kb script. By haveing those information it supports me use the life long learning feature in SDK case better and more handy.

[2021-09-26 06:10] JoeyHwong-gk commented on #203
Sorry, what you described is  not related to the interface of `knowledge base`. Maybe your intention is to use lib independently of CRD that I'm not sure if it goes against the original intent of the community.

[2021-09-26 06:29] JoeyHwong-gk commented on #203
/unassign @JimmyYang20
/assign @jaypume

[2021-10-04 08:08] vcozzolino opened #204 "Contribution Guidelines"
I had a look at the CONTRIBUTION.md file to understand how to contribute to Sedna. From what I could read, the main contribution point is the `lib` folder where AI "algorithms" are stored. Some of these algorithms are use-case bound (such as `JointInference`) which gives the impression that contributions should also provide an application (controller, YAML etc..) to showcase the algorithm itself.

[2021-10-08 08:59] vcozzolino commented on #204
Great, thank you for the clarification!

[2021-10-15 01:46] llhuii commented on #13
fixed by #196
/close

[2021-10-15 13:50] lolo-pop opened #211 "Seamless migration of edge AI applications"
Live migration in edge computing scenarios is becoming one of the cornerstones for various edge management tasks, such as task offloading, fault recovery, load balancing, and maintaining application continuity to cope with user's mobility.

Edge AI applications, as emerging edge computing services, will also face the problem of live migration. The following figure shows an example of the live migr

[2021-10-18 15:15] vcozzolino opened #213 "Logging and Monitoring"
The integration of a monitoring/logging infrastructure within Sedna would help to track faults, collect metrics about ML tasks, and visualize KPIs. Here is assumed that a logging infrastructure is **already in place** (such as an ELK+logstash stack or Prometheus) which will mainly store the data and offer visualization dashboards. By looking at the Sedna architecture, I see different options for s

[2021-10-21 08:32] ansjin opened #217 "Regarding LocalController Deployment Locations"
I saw in the installation script of Sedna that LC is deployed as a **DaemonSet** and is allowed to be deployed on every node (cloud-master, cloud-workers, and edge nodes)  (check below).

**Question:** Does it is required to be run on all cloud-worker nodes or it is only to be run on the cloud-master node? From the sedna architecture diagram (https://github.com/kubeedge/sedna/blob/main/docs/propos

[2021-10-29 04:00] llhuii opened #222 "Generate GM's RBAC yaml instead of manually editing"
**What would you like to be added/modified**:
Add kubebuilder RBAC yaml generating for GM instead of editing [gm.yaml](https://github.com/kubeedge/sedna/blob/main/build/gm/rbac/gm.yaml)

**Why is this needed**:
Reduce the error of manually editing RBAC yaml

[2021-10-29 04:06] llhuii opened #224 "Add a github action for checking generated CRDs files"
**What would you like to be added/modified**:

Add a github action for checking generated CRDs files

**Why is this needed**:

#190 adds object search controller.
But it misses to add/update the corresponding CRDs and RBAC which would be fixed by #223 .

Here add a checker for preventing this error happening.

[2021-10-29 06:47] JasonNing96 opened #225 "The deploy problem of Example Four, Federal learning surface detaction: edge keep restart"
1) I have a question about the dataset deploye, It's run commend on Cloud?
![image](https://user-images.githubusercontent.com/54830624/139388125-47803edf-d805-4ea6-9ffe-a341885bd0e8.png)
2) My surface-defect-detection-train- is keeping restart and error between edge1 and edge 2.
![image](https://user-images.githubusercontent.com/54830624/139388255-1b6026c5-e93c-414c-b3c3-cf4e9c24af5b.png)
When log

[2021-11-01 11:06] cgafool opened #229 "Evaluation and Inference of Incremental Learning to Support Heterogeneous Chips"
**What would you like to be added/modified**:
Evaluation and inference in incremental learning can be heterogeneous, and possibly training.

**Why is this needed**:
Heterogeneous deployment scenarios exist in the actual environment. For example, the evaluation is performed on the NPUA chip and the inference is performed on the NPUB chip.

[2021-11-03 08:03] skrlin opened #231 "Cloud edge model parallel training"
It is unknown whether Sedna supports traditional distributed training methods, such as model parallelism.
I can divide the model into different layers and distribute the training tasks of different layers to different edge nodes or central cloud nodes.
I wonder if Senda supports it?

[2021-11-05 07:43] llhuii commented on #199
/close
#220 has been merged, and you can try the new release https://github.com/kubeedge/sedna/releases/tag/v0.4.3

[2021-11-05 07:43] #199 closed

[2021-11-09 08:41] 15926273249 commented on #57
@HtcOrange Same Prolems here. There is no output in /joint_inference/output directory. How to solve it ?

[2021-11-09 09:33] 15926273249 commented on #198
there is no output in /joint_inference/output directory ,
Status:
  Active:  1
  Conditions:
    Last Heartbeat Time:   2021-11-09T09:25:07Z
    Last Transition Time:  2021-11-09T09:25:07Z
    Message:               services "helmet-detection-inference-example-cloud" already exists
    Status:                True
    Type:                  Failed
  Failed:                  1
  Start Time:

[2021-11-11 02:32] 15926273249 opened #234 "something wrong when deployed the joint_inference example in the edge side"
**What happened**:
There is something wrong when deployed the joint_Inference example ,the worker failed in the edge node
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
When the service in the cloud node started, howerver, the worker failed in the edge node so that I cannot inference the video in the edge side
**Anything else we need to know?**:

[2021-11-11 10:38] 15926273249 commented on #104
@JimmyYang20  how to find the localhost ip and worker-name and is there any other processes to get the message?

[2021-11-11 11:40] JimmyYang20 commented on #104
@15926273249 GM cat get node name of pod(worker) by using client-go

[2021-11-15 10:02] yanghaojin opened #235 "Extension of flexibility in federated learning scenarios"
**Background Information**:
My team and I (from Hasso Plattner Institute) will make a new MOOC lecture on the https://ki-campus.org/ platform. I want to use Sedna to design two practical tasks in my lecture: federated learning and cloud-edge collaborative inference.  Given our current practice environment, we hope to get extended support from Sedna.

**Why is this needed**:
Based on our current sc

[2021-11-16 06:52] JensenJian opened #236 "Thread problem when runing run_kb.py script in python 3.9"
**What happened**:
When I ran the lifelong learning knowledge base run_kb.py.
It shows:
Traceback (most recent call last):
  File "D:\sedna-main\lib\sedna\service\run_kb.py", line 36, in <module>
    main()
  File "D:\sedna-main\lib\sedna\service\run_kb.py", line 32, in main
    KBServer(host=host, http_port=int(port), save_dir=kb_dir).start()
  File "D:\sedna-main\lib\sedna\service\server\knowled

[2021-11-17 00:03] JoeyHwong-gk commented on #236
Thanks for reporting! Looks like it's an easy fix. Would you like to contribute the pull request yourself?

[2021-11-17 00:07] JoeyHwong-gk commented on #198
PLTA @llhuii @JimmyYang20

[2021-11-17 00:07] JoeyHwong-gk commented on #234
Duplicate of #198

[2021-11-17 00:47] JoeyHwong-gk commented on #229
Since the `Evaluation` is designed to simulate the `Inference` phase and choose a better-performing model, Why not unify the deployment of the two scenarios?

[2021-11-17 01:02] JoeyHwong-gk commented on #235
GM/LC shield lots of things that algorithm developers don't need to pay much attention to. It is feasible to run the sedna lib library independently. However, problems such as network engineering (for example, you need to open ports) and log monitoring (for locating exceptions) may be introduced, and I'm not sure it's up to the community to block.

What my suggestion is, Sedna can provide an image

[2021-11-17 01:05] JoeyHwong-gk commented on #231
Distributed training falls under the category of machine learning frameworks, so maybe it's depend on the framework you use.

[2021-11-18 06:54] skrlin opened #241 "Error in federated learning example"
**What happened**:
When I follow https://github.com/kubeedge/sedna/tree/main/examples/federated_ learning/yolov5_ coco128_ An error occurred while mistnet was deploying federated learning samples

[code]
I have created `/model` and `/pretrained` directories at the locations specified in each node according to the tutorial
I find the error code in `/home/plato/plato/config.py:123`
[code]
I don't kn

[2021-11-19 13:32] yanghaojin commented on #235
Thank you for the comments!
I want to explain further. Due to the scale of the course (up to 10k participants) and the control of the learning quality (maybe most people do not have enough computing power for DL model training at home), we will ask students to use Kaggle notebooks to complete practical assignments. Kaggle notebook can provide all participants with a free GPU quota to complete task

[2021-11-19 13:38] yanghaojin commented on #235
Another limitation of the current Sedna is as mentioned in my first post. We cannot ask up to 10k clients to start the federated learning task at roughly the same time, due to its large number and the heterogeneous distribution regarding time and geography. So dynamic and asynchronous federated learning interactions are also needed.

[2021-11-20 07:28] JoeyHwong-gk commented on #241
PTAL @jaypume @XinYao1994

[2021-11-20 10:08] XinYao1994 commented on #241
@skrlin @JoeyHwong-gk
It is very hard to understand why your image is produced ```2 months ago```. Did you make sure that you have successfully updated the image?

[2021-11-22 04:28] llhuii commented on #241
I think the reason is that @skrlin used `v0.4.0` which has a bug. And I suggest you can try the latest version(i.e. `v0.4.3`).

[2021-11-22 04:29] llhuii commented on #241
@XinYao1994 can you help to update the version of  federated learning example yaml?

[2021-11-22 07:36] skrlin commented on #241
@JoeyHwong-gk
I didn’t update the mirror, just pulled the v0.4.0 version of the mirror in the depository according to the tutorial

[2021-11-22 08:25] XinYao1994 commented on #241
@llhuii @skrlin @jaypume We have planned to add a tutorial demo recently. Hope that can help. :) Federated learning example yaml will be updated before we release that demo.

[2021-11-22 08:26] skrlin commented on #241
@llhuii OK, thank you very much for your answer

[2021-11-22 08:27] skrlin commented on #241
@XinYao1994 OK, thank you very much for your answer

[2021-11-23 02:48] Poorunga commented on #241
我也遇到了这个问题：
[code]

[2021-11-23 02:54] llhuii commented on #241
@XinYao1994 帮忙看一下

[2021-11-23 10:57] XinYao1994 commented on #241
@Poorunga @llhuii
Please make sure you have used the most updated version because it has been fixed at [here](https://github.com/TL-System/plato/issues/114)

[2021-11-24 03:12] JensenJian opened #245 "Connection refuse when runing allinone script in the intranet env"
**What happened**:
Currently, I am running the Sedna all-in-one script in the intranet environment, and the script shows:
Failed to create the file /usr/local/bin/kind: Permission denied
curl: (23) Failed writing body (0 != 1100)
Is there any way to make the script work in the intranet environment?

[2021-11-24 03:38] JensenJian opened #246 "Something went wrong with the GM by running the allinone script"
**What happened**:
After I deployed the Sedna by running the allinone script.
The GM shows the error logs as below:
I1124 02:35:39.370325       1 websocket.go:176] client starts to connect global manager(address: gm.sedna:9000)
E1124 02:35:43.456470       1 websocket.go:192] client tries to connect global manager(address: gm.sedna:9000) failed, error: dial tcp: lookup gm.sedna on 172.18.0.1:53: no

[2021-12-02 15:19] PHLens commented on #198
I also get this problem ,did you solve it?

[2021-12-03 02:07] llhuii commented on #198
@JimmyYang20

[2021-12-03 02:15] JimmyYang20 commented on #198
@PHLens can you give more info, e.g. kubectl get nodes -o wide; kubectl get ji -o yaml;

[2021-12-06 13:08] davedavedavid opened #252 "Change pod name of federatedlearningjob to adapt feature extension"
**What would you like to be added/modified**:
![image](https://user-images.githubusercontent.com/87642892/144850665-c71dbb77-df16-455c-966f-aad94a4021c8.png)
The name of the client pod "train" of federatedlearningjob can no longer cover the scope of the feature. eg, for , the client pod of collaberated training doesn't train at all.
Please consider changing it to "client" or other proper name.
**W

[2021-12-07 10:12] jaypume commented on #252
This variable was defined as `workerParam.WorkerType` at this [line](https://github.com/kubeedge/sedna/blob/main/pkg/globalmanager/controllers/federatedlearning/federatedlearningjob.go#L596)

[2021-12-08 06:35] llhuii opened #254 "all-in-one: enable kubectl logs/exec for kubeedge"
**What would you like to be added/modified**:
Enable kubectl logs/exec for kubeedge nodes in all-in-one script.

**Why is this needed**:
Currently developers need to login the edge nodes and use docker command to see pods'log in edge node, it is very inconvenient.

Would be helpful when developers can see logs or exec using kubectl

[2021-12-08 06:38] llhuii commented on #254
The doc https://kubeedge.io/en/docs/advanced/debug/ seems complex and something wrong/obsolete

[2021-12-08 06:41] llhuii commented on #252
But the federated-learning definition is aggregationWorker/trainingWorkers indeed  https://github.com/kubeedge/sedna/blob/main/pkg/apis/sedna/v1alpha1/federatedlearningjob_types.go#L41

[2021-12-13 07:18] PHLens commented on #198
@JimmyYang20 sorry about the late replay. Here are the info:
kubectl get nodes
NAME           STATUS   ROLES                  AGE   VERSION
master-node1   Ready    control-plane,master   52d   v1.21.5
nano           Ready    agent,edge             98m   v1.19.3-kubeedge-v1.8.1
kubectl get ji
NAME                                 AGE
helmet-detection-inference-example   2m31s
kubectl get ji -o yaml

[2021-12-14 09:49] Liu-JJ97 commented on #198
yes,the service deployment file is not updated. Try to modify the version number and change 3.0 to 4.0 ,
image: kubeedge/sedna-example-joint-inference-helmet-detection-little:v0.3.0->image: kubeedge/sedna-example-joint-inference-helmet-detection-little:v0.4.0,there are two things that need to be modified

[2021-12-14 09:52] Liu-JJ97 commented on #198
The version number in the service deployment file has not been updated.(image: kubeedge/sedna-example-joint-inference-helmet-detection-big:v0.3.0) Some people will ignore this problem. You can give a hint in the installation file.

[2021-12-14 09:55] PHLens commented on #198
ok thanks, i'll try it

[2021-12-14 10:05] Liu-JJ97 commented on #198
I would like to ask a question. In the project, the cloud edge joint reasoning means that for the same request, the cloud edge executes the reasoning at the same time, and there is no cooperation, is it true?

[2021-12-14 10:17] PHLens commented on #198
No, there is a HEM algorithm, edge use the algorithm to determine whether or not to send the image data to cloud. If the image is a hard example ,then the edge will send it to cloud and then cloud will do the inference ,if not the edge do the inference alone.

[2021-12-16 09:29] Liu-JJ97 opened #258 "How can I see the cloud_result and edge_result in the joint inference experiment?"
How can I see the cloud_result and edge_result in the joint inference experiment?

[2021-12-31 09:56] MooreZheng commented on #118
Thanks. We have updated the first draft of the specification.

The specification is still open to edit. Any interested member please also refer to https://github.com/kubeedge/sedna/issues/96

[2021-12-31 09:56] MooreZheng commented on #118
\assign @MooreZheng

[2021-12-31 10:25] MooreZheng commented on #119
Thanks. We have updated instructions in the first draft of the specification.

The specification is still open to edit. Any interested member please also refer to #96

[2021-12-31 10:29] MooreZheng commented on #120
Good point. Will have this issue considered in coming versions.

[2022-01-11 02:19] JoeyHwong-gk opened #261 "build and publish precompiled sedna sdk to PyPI"
**What would you like to be added/modified**:

It would be great if you set up Github Actions CI to build wheels for all supported python versions and platforms and publish them (either automatically when pushing git tags, or manually if you prefer) to the Python Package Index (PyPI) so that `pip install sedna` works without needing a complete clone from github.

for more documentation
you can rea

[2022-01-11 02:38] JoeyHwong-gk commented on #258
I ran this experimenton my k8s cluster, `cloud_result`  was found in `/data/hard_example_cloud_inference_output` and `edge_result` saved in `/data/hard_example_edge_inference_output`.

Note: both  `/data/hard_example_cloud_inference_output` and `/data/hard_example_edge_inference_output` are  located on the docker container of edge node.

#198

[2022-01-11 09:54] JoeyHwong-gk opened #262 "Compatible edge-cloud connection timeout for http request in lib"
**What happened**:

Follow [here](https://github.com/kubeedge/sedna/blob/397b5e51a1e8181d84435a3e3fce5a58ef8a8652/lib/sedna/service/client.py#L37), the parameter `timeout`  cannot be defined while using sedna lib.

Also, in some cases, we cannot predict the latency of cloud inference.

**What you expected to happen**:

I wish that:
- be able to define the special timeout by setting environment var

[2022-01-11 09:57] JoeyHwong-gk commented on #262
mention @cgafool

[2022-01-12 07:56] siguoyicl opened #263 "[helmet-detection-inference-example] edge node container cannot access cloud service"
Error occurred while request http://helmet-detection-inference-example-cloud.default:5000/sedna/predict, Msg: HTTPConnectionPool(host='helmet-detection-inference-example-cloud.default', port=5000): Max retries exceeded with url: /sedna/predict (Caused by NewConnectionError('<urllib3.connection.HTTPConnection object at 0x7f4df0209470>: Failed to establish a new connection: [Errno -2] Name or servic

[2022-01-13 02:55] JoeyHwong-gk commented on #263
Seems to be a problem with dnsPolicy of k8s. ping @JimmyYang20

[2022-01-13 03:22] JimmyYang20 commented on #263
@siguoyicl
check edgemesh status  by `kubectl -n kubeedge get pods`
pleases to read  [doc](https://github.com/kubeedge/sedna/blob/main/docs/setup/install.md) in detail and pay more attention to [edgemesh](https://edgemesh.netlify.app/guide/getting-started.html)

[2022-01-13 03:45] siguoyicl commented on #263
@JimmyYang20 edgemesh status is all correct.
[root@ke-cloud config]# kubectl -n kubeedge get pods
NAME                              READY   STATUS    RESTARTS   AGE
edgemesh-agent-cloud-9sf2z        1/1     Running   0          26m
edgemesh-agent-edge-8ngkm         1/1     Running   0          26m
edgemesh-agent-edge-nntjp         1/1     Running   0          26m
edgemesh-server-cbb7d976b-h7wzn

[2022-01-13 03:50] siguoyicl commented on #263
@jaypume the logs for edgemesh-server is as follows:
`I0113 03:13:17.794671       1 config.go:37] Fetch public IP: 139.207.140.117
I0113 03:13:17.795070       1 server.go:47] Version: v0.0.0-master+$Format:%H$
I0113 03:13:17.795110       1 server.go:79] [1] New informers manager
W0113 03:13:17.795129       1 client_config.go:617] Neither --kubeconfig nor --master was specified.  Using the inCluste

[2022-01-13 06:51] siguoyicl commented on #263
@jaypume @JimmyYang20 Thanks a lot. I have found the problem, in the container in edgenode, the config file /etc/resolv.conf is incorrect, it is shown as follows:
`
# Generated by NetworkManager
search localdomain
nameserver 192.168.150.2
`
so I modify the config, add edgemesh0 into it
`
# Generated by NetworkManager
nameserver 169.254.96.16
search edgemesh-test.svc.cluster.local svc.cluster.local

[2022-01-13 11:19] 18201215697 opened #264 "How can Sedna run on windows? where can I find the documentation and tutorial of Sedna"
How can Sedna run on windows? where can I find the documentation and tutorial of Sedna

[2022-01-13 12:36] llhuii commented on #264
No, we don't support Sedna on windows.

[2022-01-14 00:53] #263 closed

[2022-01-17 02:58] JoeyHwong-gk opened #265 "Support selecting the suitable cloudNode automatically in k8s cluster"
**What would you like to be added/modified**:

As a deployer, it is considered cumbersome to query all resources from k8s cluster every time while a job creating.

**Why is this needed**:

It would be useful if GM can support a mode where it can choose the most suitable cloudNode in the cluster base on resource apply.

[2022-01-17 02:59] JoeyHwong-gk commented on #265
/ping @llhuii @jaypume @JimmyYang20

[2022-01-17 03:08] JoeyHwong-gk opened #266 "Provide a native encryption of the communication between cloud-edge"
**What would you like to be added/modified**:

When using sedna with clients being on different networks, it is safer to encrypt communication to be sure messages are not intercepted. Currently, our data exchange between the server and clients is base on http/ws protocol.
We should add TLS support on the communication between cloud-edge. This option should be configurable through the yaml file. It

[2022-01-17 03:08] JoeyHwong-gk commented on #266
cc @jaypume @llhuii @JimmyYang20

[2022-01-17 03:16] JoeyHwong-gk opened #267 "Does sedna support joint inference between two edges?"
I noticed that sedna already supports edgemesh and wondered if sedna support joint inference between two edges.

It's very common to support this feature in a cluster with one management node and multiple inference nodes with different resources.

[2022-01-17 09:25] 18201215697 opened #268 "How sedna conform if is hard sample in incremental_learning？"

[2022-01-17 12:15] 18201215697 opened #269 "How do Sedna Incremental Learning use Pytorch as Estimator?Is there any examples?"

[2022-01-18 02:43] JoeyHwong-gk commented on #268
Sedna provide 3 general [algorithms](https://github.com/kubeedge/sedna/blob/main/lib/sedna/algorithms/hard_example_mining/hard_example_mining.py) for hard sample mining in the common CV scenario.
* more detail :  ('ThresholdFilter', 'CrossEntropyFilter', 'IBTFilter') -> https://support.huaweicloud.com/devg-hilens/hilens_05_0068.html

----
You can define new algorithms to support more scenarios as

[2022-01-18 02:51] JoeyHwong-gk commented on #269
[Here](https://github.com/kubeedge/sedna/tree/main/lib/sedna#use-python-sdk) sedna describe how to define the Estimator which interfaces of the Estimator need to be included.

I can't find a sample of Pytorch  , but I think we can run IL with a custom Estimator.

I also hope that sedna will support the native torch as soon as possible., @jaypume

[2022-02-07 07:18] MooreZheng commented on #231
Our team had quite a few discussions on this issue. We understand that traditional distributed learning can help to reduce training time. Sedna supports both edge-cloud collaborative training and inference, but more focuses on stand-alone models execution at present. Stand-alone models help to make sure the runtime/ robust service on each node, especially when some nodes are offine.

**1. If one i

[2022-02-11 09:25] jaypume opened #272 "[Feature] Extend more examples based on joint inference, incremental learning, federated learning, lifelong learning."
**Why is this needed**:

Sedna is a general collaborative framework for AI training and inference across cloud and edge,  it now supports joint inference, incremental learning, federated learning, lifelong learning. It is not designed for special area, so it can be used in most edge AI scenarios to reduce the cost, improve the performance and protect the privacy.

Currently, Sedna has already prov

[2022-02-11 09:36] jaypume commented on #272
### Extend Unit Test Case

[2022-02-11 09:36] jaypume commented on #272
### Support different backend

[2022-02-11 09:38] JimmyYang20 commented on #272
### Support Visualized Operation and Management

[2022-02-11 10:24] JimmyYang20 opened #273 "Sedna features supports visualized operation and management"
**What would you like to be added/modified**:
Sedna features supports visualized operation and management

Take Incremental Learning as an Example
Supports incremental learning of job status(Job, Job Status, JobStage, JobStage Status) . POD status (POD and POD status), and worker service status (Worker, Worker status, Worker service output) centralized visualization and alarm reporting (If the ala

[2022-02-11 10:34] jaypume opened #274 "[Feature] Extend more examples based on Joint Inference"
**What would you like to be added/modified**:

**Why is this needed**:

[2022-02-11 10:40] MooreZheng opened #275 "[Feature] Extend more examples with unstructured data for edge-cloud collaborative lifelong learning"
To be edited.

**Why is this needed**:

**What would you like to be added/modified**:

[2022-02-13 02:12] wanziyu opened #276 "Does Sedna support decentralized distributed deep learning on edge servers?"
Training large DL models on edge devices is infeasible due to their limited computing resources. In decentralized distributed deep learning system, workers exchange local gradients with each other, and update their local model based on collected gradients. Compared to centralized DL systems, decentralized dl system can avoid communication bottleneck between edge workers and PS nodes. Therefore, I

[2022-02-21 03:12] jaypume commented on #276
Not supported yet.
Currently Sedna supports Feaderated Learning, a distributed DL system. But it is still centralized, because it requires a central aggregation node.
But I think this is really a great idea, and it will be a trend for those data already on the edge side.

[2022-02-21 10:53] MooreZheng commented on #276
It seems to be that issue #231 is also about distributed deep learning. It will be appreciated if the difference between this issue and issue #231 is justified. The comment is also available as follows to facilitate easier reference and discussion:

From issue #231 ====
We understand that traditional distributed learning can help to reduce training time. Sedna supports both edge-cloud collaborativ

[2022-03-01 01:42] 916264367 opened #278 "An error occurred while installing Sedna"
**What happened**:
An error occurred while installing Sedna, like this:
![image](https://user-images.githubusercontent.com/51771785/156088427-8f6be133-ff06-48fa-9622-8c588832ef28.png)

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
<details><summary>Sedna Version</summary>
Ubuntu 20.04
K8s 1

[2022-03-01 08:48] 916264367 commented on #278
![image](https://user-images.githubusercontent.com/51771785/156135638-f56cd1cb-e1cb-40a5-b598-ca0060ad3a94.png)
![image](https://user-images.githubusercontent.com/51771785/156135735-538b33ae-92d8-4abf-8d6a-82931752ea7f.png)

[2022-03-02 00:51] JoeyHwong-gk commented on #278
[Here](https://github.com/kubeedge/sedna/blob/main/docs/setup/install.md) is the recommended installation guide.
Based on the consideration of integrated edgemesh, sedna has updated the model of GM deployment, follow #220 for more details.

[2022-03-02 01:47] 916264367 commented on #278
I followed your instructions, But I still encountered the same mistake.
![image](https://user-images.githubusercontent.com/51771785/156278940-13ba4937-a772-469f-bb05-235f97f8975f.png)
![image](https://user-images.githubusercontent.com/51771785/156279049-64ddc5cc-c5d8-450b-8fd8-2036ff95a463.png)

[2022-03-02 01:57] 916264367 commented on #278
At the edge, I checked docker's log,
![image](https://user-images.githubusercontent.com/51771785/156279979-fb3785bd-18cd-4a52-ace3-380e051257db.png)
![image](https://user-images.githubusercontent.com/51771785/156280017-5e7fb352-7234-4ec3-b78c-174f3b9c63a4.png)

[2022-03-02 11:17] JimmyYang20 commented on #278
@916264367
Have you tried setting KUBE_CONFIG_PATH?  please check it !  if not , do
`export KUBE_CONFIG_PATH=~/.kube/config`

[2022-03-03 02:25] 916264367 commented on #278
I'll follow your tips,
![1](https://user-images.githubusercontent.com/51771785/156484175-1ae4a4d0-5142-421d-8d83-5d00124a630b.png)
![2](https://user-images.githubusercontent.com/51771785/156484180-871c7511-8d0e-4b17-a85b-faac3c622a60.png)
It's still that problem.

[2022-03-03 03:41] JimmyYang20 commented on #278
@916264367 check if k8s config is in ~/.kube/config ?

[2022-03-07 04:38] ESonata commented on #273
/assign

[2022-03-09 13:46] #278 closed

[2022-03-09 13:53] 916264367 opened #279 "I encountered this problem when operating this instance of Sedna(Using Joint Inference Service in Helmet Detection Scenario)"
After I execute this order:
![image](https://user-images.githubusercontent.com/51771785/157454941-12bed3a5-1f26-4ec5-bbb9-d3a648a77974.png)
I'll enter this URL in the browser:
![image](https://user-images.githubusercontent.com/51771785/157455109-d9dc5d62-bc07-438b-93e1-c0ec1f27179c.png)
![image](https://user-images.githubusercontent.com/51771785/157455175-475727eb-00d1-44a9-a58c-9ffc2f4c5d61.png)

[2022-03-10 00:53] #279 closed

[2022-03-10 12:34] 916264367 commented on #198
when I execute "ffmpeg -re -i /data/video/video.mp4 -vcodec libx264 -f rtsp rtsp://localhost/video",that is to say the last step in the document, the ouputdir " /joint_inference/output" is empty? why

[2022-03-10 12:34] 916264367 commented on #198
when I execute "ffmpeg -re -i /data/video/video.mp4 -vcodec libx264 -f rtsp rtsp://localhost/video",that is to say the last step in the document, the ouputdir " /joint_inference/output" is empty? why

[2022-03-11 00:35] 916264367 commented on #198
Me too. No output in directory /joint_inference/output, Have you solved it

[2022-03-12 03:09] ESonata commented on #265
/assign

[2022-03-14 01:16] 916264367 opened #280 "How can I see the cloud_result and edge_result in the joint inference experiment?"
**What happened**:
when I execute "ffmpeg -re -i /data/video/video.mp4 -vcodec libx264 -f rtsp rtsp://localhost/video",that is to say the last step in the document, the ouputdir " /joint_inference/output" is empty? why
**What you expected to happen**:
What will it be like? Output picture or execute " ffplay rtsp://localhost/video", It can be recognized by video?
**How to reproduce it (as minimally

[2022-03-15 06:36] 916264367 commented on #280
![image](https://user-images.githubusercontent.com/51771785/158320448-ac7ce183-4565-4350-b009-d995be1b72af.png)
pod"edge-x4161" there is no events and no logs.
the "cloud-8tmpv" has no logs, but events:
![image](https://user-images.githubusercontent.com/51771785/158320689-66955923-17c0-4b79-a18f-6ba87a49c5e9.png)

[2022-03-17 12:45] jaypume commented on #170
/close already merged, close.

[2022-03-17 12:46] jaypume commented on #170
already merged, close.

[2022-03-17 12:46] #170 closed

[2022-03-17 12:46] jaypume commented on #165
already merged, close.

[2022-03-17 12:46] #165 closed

[2022-03-17 13:36] jaypume commented on #131
EdgeMesh is already integrated, and the PR is #220.

[2022-03-18 03:06] davedavedavid opened #284 "lib/sedna/algorithms/aggregation/aggregation.py code typo"
**What happened**:
lib/sedna/algorithms/aggregation/aggregation.py
line124 self.parameters["epsilon"] = int(cut_layer)
shoud be self.parameters["epsilon"] = int(epsilon)
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
<details><summary>Sedna Version</summary>

[code]

</details>

<details><su

[2022-03-18 10:18] Poorunga opened #285 "Install sedna using helm chart"
**What would you like to be added/modified**:
Install sedna using helm chart

**Why is this needed**:
If you use helm chart to install sedna, we can easily install sedna through helm and upgrade the version.
[code]

[2022-03-22 02:13] JoeyHwong-gk commented on #284
PTAL @XinYao1994

[2022-03-22 02:13] JoeyHwong-gk commented on #284
/assgin @jaypume

[2022-03-22 02:17] JoeyHwong-gk commented on #280
It seems that both inference workers run errors, would  you mind providing some details?

[2022-03-22 12:49] zz952332446 opened #289 "bug from image "sedna-example-joint-inference-helmet-detection-big:v0.4.3""
I am deploying Example1：[Using Joint Inference Service in Helmet Detection Scenario](https://github.com/kubeedge/sedna/blob/main/examples/joint_inference/helmet_detection_inference/README.md).

[2022-03-23 03:18] JoeyHwong-gk commented on #289
Hi @zz952332446 . This is a known issue with `uvicorn` that `sedna` have investigated.  The Ownner has provided fix PR about it in #240 .

[2022-03-23 07:46] zz952332446 commented on #289
hello, I have tried `uvicorn~=0.14.0`, but the problem still exists
I use `build_image.sh` to build the image, and then `docker run -id ` to start the container

![image](https://user-images.githubusercontent.com/34162360/159648329-1a2fbc94-9f6c-4b57-9773-7f71a7f71c79.png)

![image](https://user-images.githubusercontent.com/34162360/159648376-631900ff-4170-427a-8672-c9368a850959.png)

[2022-03-23 07:57] JoeyHwong-gk commented on #289
This problem occurs because the path of big model doesn't  injected into the container, in your case, pass the variable [MODEL_URL] to the container will be solved.
It's recommend that deployment service with k8s, follow [here](https://github.com/kubeedge/sedna/tree/main/examples/joint_inference/helmet_detection_inference#create-joint-inference-service) for more details.

[2022-03-23 12:37] 916264367 commented on #289
I also encountered the same problem. How did you solve it?

[2022-03-23 12:37] 916264367 commented on #289
I also encountered the same problem. How did you solve it?

[2022-03-23 12:48] 916264367 commented on #280
Thank you. The previous problem has been solved. Now, edge is okay, but the master has a problem:
![image](https://user-images.githubusercontent.com/51771785/159702424-753702d1-c6b4-4030-b07e-519a31d2afdb.png)
[2022-03-23 12:41:05,321] base.py(79) [INFO] - Start sedna server over http://10.244.0.6:5000
Exception in thread Thread-1:
Traceback (most recent call last):
  File "/usr/lib/python3.6/thre

[2022-03-23 13:49] zz952332446 opened #290 "Joint Inference Service is failed on the agent"
I am deploying Example1：[Using Joint Inference Service in Helmet Detection Scenario](https://github.com/kubeedge/sedna/blob/main/examples/joint_inference/helmet_detection_inference/README.md).

In the last step `Create joint inference service`, master is okay, but joint-inference-helmet-detection-little can't work on the edge: you can see there is no pod on the edge(I have already had  the big and

[2022-03-23 13:55] zz952332446 commented on #289
lib/requirements.txt最后应该是 `uvicorn~=0.14.0`，dockerhub上的v0.4.3镜像这里没有改，有问题
我是自己本地通过dockerfile build生成的，再通过k8s部署deployment就不会报错~

[2022-03-24 00:31] JoeyHwong-gk commented on #290
I'd like to know more about it. would you mind providing more logs?

[code]

[code]

[code]

[2022-03-24 00:34] JoeyHwong-gk commented on #280
Seems to have found the solution on #289 , and this issue should be closed.

[2022-03-24 00:50] zz952332446 commented on #290
[code]
![image](https://user-images.githubusercontent.com/34162360/159820135-b63f7c99-125b-40b0-bab7-188242f2036e.png)

[code]
![image](https://user-images.githubusercontent.com/34162360/159819943-d85cdbf8-f76b-4b9c-b227-c3acef346570.png)

[code]
![image](https://user-images.githubusercontent.com/34162360/159820001-34647272-8947-4a98-87a5-63500b665833.png)

[code]
![image](https://user-images.gith

[2022-03-24 00:55] zz952332446 commented on #290
The day before yesterday, joint-inference-helmet-detection-little was okay on the edge, but edge' was disconnect the network yesterday. When the network recovered, I can't deploy joint-inference-helmet-detection-little on the edge anymore.

[2022-03-24 01:33] JoeyHwong-gk commented on #290
PTAL @JimmyYang20 @Poorunga

[2022-03-24 03:48] zz952332446 commented on #290
According to edgecore's log, it said pod already deleted
![image](https://user-images.githubusercontent.com/34162360/159837544-127db928-8c4e-4b24-98e0-4213495bf700.png)

[2022-03-24 04:01] zz952332446 commented on #290
Oh, I closed this issue carelessly just now.

[2022-03-24 08:25] JoeyHwong-gk commented on #261
/close

[2022-03-24 08:25] #261 closed

[2022-03-24 08:26] JoeyHwong-gk commented on #267
/close

[2022-03-24 08:26] #267 closed

[2022-03-24 08:26] JoeyHwong-gk commented on #266
/close

[2022-03-24 08:26] #266 closed

[2022-03-24 08:26] JoeyHwong-gk commented on #262
/close

[2022-03-24 08:26] #262 closed

[2022-03-24 08:27] JoeyHwong-gk commented on #265
/close

[2022-03-24 08:27] #265 closed

[2022-03-25 06:01] 916264367 commented on #280
thank you very much

[2022-03-25 06:01] #280 closed

[2022-03-25 09:04] cgafool commented on #103
close

[2022-03-25 09:04] #103 closed

[2022-03-26 02:51] AnthonyZby opened #292 "sedna's installation failed"
I am installing sedna, my last step is: curl https://raw.githubusercontent.com/kubeedge/sedna/main/scripts/installation/install.sh | SEDNA_ACTION=create bash -
then, the error occurred:
![image](https://user-images.githubusercontent.com/84009440/160221896-54da7708-bdf5-498a-b6cd-d9b58cb26d61.png)
Please tell me the reason of this error.

[2022-03-28 02:49] JoeyHwong-gk commented on #292
It seems that the TCP handshake is working fine and an error occurred with TLS level which cause some YAML download failures.

If the curl problem cannot be fixed, you can directly install with sedna repository to install it by setting:
[code]

[2022-03-28 10:23] 916264367 commented on #289
hello, it's not work. I've fixed uvicon. `uvicorn~=0.14.0`.
![image](https://user-images.githubusercontent.com/51771785/160377076-fa944b1a-cb52-4bdf-8a6d-c8ec41dbca14.png)
When the video is not playing, the pod is running
![image](https://user-images.githubusercontent.com/51771785/160377906-ed7b0ff1-9809-4848-9cbc-6416222bfc0a.png)
But, When I execute `ffmpeg -re -i /data/video/video.mp4 -vcodec l

[2022-03-29 03:02] JoeyHwong-gk commented on #289
After pulling the lastest commits, please rerun `sedna/examples/build_image.sh` to ensure that the local docker image has been replaced.

[2022-03-30 07:44] jieun1128 commented on #273
Hello! I would like to contribute to this project for GSOC'22. Can you please help me how to get started with it?

[2022-03-30 07:51] JimmyYang20 commented on #273
@jieun1128 First, you should run the current incremental learning case of Sedna, like [here](https://github.com/kubeedge/sedna/tree/main/examples/storage/s3/incremental_learning)

[2022-03-30 07:55] 916264367 opened #293 "I would like to know how "Using Joint Inference Service in Helmet Detection Scenario." works"
It is to extract frames from the video at the edge, and then perform part of the neural network processing on the acquired pictures, Then upload the image to the cloud to complete the final reasoning. Am I right? If not, what is the truth？

[2022-03-31 08:41] JasonNing96 opened #294 "docker V0.43 Loss dependency files"
The image from docker-hub, sedna-example-joint-inference-helmet-detection:V0.43, lost torch model:

![image](https://user-images.githubusercontent.com/54830624/161014326-76848d09-ae31-401d-9711-a4fdeeefc6d3.png)

Please Update the docker image on docker-hub.

[2022-03-31 08:43] JasonNing96 opened #295 "Configuration error from kube logs/debug"
## Configuration error from kube logs/debug

For "all-in-one"  deployment approach, there is a error shown as:

![image](https://user-images.githubusercontent.com/54830624/161014668-73a5a320-e9d5-455d-b118-8e4fbe83af80.png)
This error come from the

[https://kubeedge.io/en/docs/advanced/debug/]: Enable Kubectl logs/exec to debug pods on the edge

Casue the IPtables Rule not activate.  May be maint

[2022-04-01 02:59] JasonNing96 opened #296 "The Sedna ex.4 YoloV5, list' object has no attribute 'num_train_examples"
While I test the YoloV5 example, this error appear in all-in-one && local_install
![image](https://user-images.githubusercontent.com/54830624/161186452-db75ce51-e298-45e2-920e-a51468be510f.png)

And the code shown was here
![51b22919ba9fcd0d8f9eaabb91d9c9c](https://user-images.githubusercontent.com/54830624/161186500-cd1862e2-ac58-4d58-8eb1-787377309be8.png)

It is preliminarily confirmed that the

[2022-04-01 08:40] JoeyHwong-gk commented on #296
/ping @XinYao1994

[2022-04-01 08:41] JoeyHwong-gk commented on #294
/ping @XinYao1994

[2022-04-01 08:41] JoeyHwong-gk commented on #295
/ping @JimmyYang20

[2022-04-01 13:20] #293 closed

[2022-04-01 13:24] 916264367 opened #298 "Does sedna support model cutting?"
Does Sedna support model cutting? For example, cutting the CNN model. Deploy a part of the number of layers at the edge, the last layer or network layer is deployed on the cloud server.

[2022-04-02 14:51] XinYao1994 commented on #294
@jaypume @JoeyHwong-gk Hello, this is a joint-inference-helmet-detection job (only the federated learning part uses Plato). Currently, I do not have any ideas about it. It seems to be caused by not installing the PyTorch dependency in the docker file.

[2022-04-06 00:38] JoeyHwong-gk commented on #294
@JasonNing96 Would you mind providing more details? Actually the example of `joint-inference` would not use the `aggregation.py`, but more likely occurs in the `federated-learning-surface-defect-detection-aggregation` associated with [this script](https://github.com/kubeedge/sedna/blob/main/examples/federated_learning/yolov5_coco128_mistnet/aggregate.py).

[2022-04-06 00:44] JoeyHwong-gk commented on #294
@XinYao1994 Thank you for your answer. In fact, I think the [dockerfile](https://github.com/kubeedge/sedna/blob/main/examples/federated-learning-surface-defect-detection-aggregation.Dockerfile) about `federated-learning-surface-defect-detection-aggregation` is problematic while references `plato` but does not install `Pytorch` for the image. Look forward to your further reply.

[2022-04-06 01:06] XinYao1994 commented on #296
@JasonNing96 please update Plato's version.

[2022-04-06 01:13] XinYao1994 commented on #294
@JasonNing96 Please update the version of Plato to remove the above errors.

[2022-04-06 02:39] JasonNing96 commented on #298
Same ideas for that. Did you do the research about CNN spliting ?

[2022-04-07 01:59] JasonNing96 commented on #296
Thanks~
The plato's version on images? I down load the images v0.4.3 for test.

[2022-04-07 02:00] JasonNing96 commented on #296
@XinYao1994

[2022-04-07 02:58] JoeyHwong-gk commented on #296
Just choose one of following :
1. clone the lastest sedna project, then run `build_image.sh` to rebuild all images. **Recommended**
2. enter the container, clone lastest the plato again, then run install with pip, follow [here](https://github.com/kubeedge/sedna/blob/main/examples/federated-learning-mistnet-yolo-client.Dockerfile#L15)

[2022-04-07 03:27] JoeyHwong-gk commented on #294
link #296 .

[2022-04-07 14:02] LinRds opened #299 "Jointinferince：edge node cannot access port 5000 of big model"
**What happened**:
After I use the command(`ffmpeg -re -i /data/video/video.mp4 -vcodec libx264 -f rtsp rtsp://localhost/video`) in the example to push the rtsp stream, the edge node will report an error：
[code]
**What you expected to happen**:
    Both the edge node and the cloud node work fine and get the same results as in the example
**How to reproduce it (as minimally and precisely as possibl

[2022-04-11 02:09] chou-shun opened #300 "Integrate Sedna into an AI platform"
**What would you like to be added/modified**:
Integrating Sedna into an AI platform.

**Why is this needed**:

[2022-04-11 02:13] chou-shun opened #301 "Sedna lib-based hard example mining algorithm for semi-supervised learning"
**What would you like to be added/modified**:

**Why is this needed**:

[2022-04-11 02:39] #301 closed

[2022-04-11 08:41] jaypume opened #302 "[Feature] Extend more examples based on Multi-edge Joint Inference"
**Why is this needed**:

Sedna is a general collaborative framework for AI training and inference across cloud and edge,  it now supports joint inference, incremental learning, federated learning, lifelong learning. It is not designed for special area, so it can be used in most edge AI scenarios to reduce the cost, improve the performance and protect the privacy.

Currently, Sedna has already prov

[2022-04-16 09:43] #300 closed

[2022-05-05 10:09] MooreZheng commented on #298
It seems to me that issue https://github.com/kubeedge/sedna/issues/231 and issue https://github.com/kubeedge/sedna/issues/276 are also about distributed deep learning. It will be appreciated if the difference is justified from this issue against issue https://github.com/kubeedge/sedna/issues/231 and https://github.com/kubeedge/sedna/issues/276.

The comment is also available as follows to facilita

[2022-05-07 12:09] yunzhe99 opened #303 "Add the multi-task joint inference approach for Sedna Lifelong Learning to support the perception of mobile agents"
**Why is this needed**:

Lifelong Learning is an important feature for Sedna, which aims to make the inference robust across various scenarios, e.g., the thermal comfort prediction in different cities as is shown in the published example: [Using Lifelong Learning Job in Thermal Comfort Prediction Scenario](https://github.com/kubeedge/sedna/blob/main/examples/lifelong_learning/atcii/README.md). In

[2022-05-10 09:22] jjia605 opened #304 "[Feature] Benchmarks System: visualization dashboard for algorithm performance analysis"
**Why is this needed**:
According to the report on the challenges of industrial edge AI research & development in December 2021, the suggestion to provide the benchmarks with open data, data pre-processing and baseline is recommended by industry, academia and students. This project aims to provide a visualization tool to help users gain insight into algorithms, and provide well support materials f

[2022-05-10 10:03] chou-shun opened #305 "[Feature] Visual intelligent monitoring and log management of Kubeedge-Sedna based on Prometheus"
**Why is this needed**:
Currently, after an edge-cloud synergy job is created on Sedna, the job status, parameters, and indicators can be queried only through command line, which lacks visualization and O&M functions. Therefore, from the perspective of ease of use, we want to display job information in an interface.

**What would you like to be added/modified**:
1. Support Sedna service management

[2022-05-10 10:57] JimmyYang20 opened #306 "[Feature] Sedna Edge-Cloud Collaboration Lifelong Learning O&M"
**What would you like to be added/modified**:
Based on the existing basic core capabilities of Sedna edge-cloud collaborative lifelong learning, try to complete the following tasks:
1. Using the K8s Dashboard or others to integrate the management and status monitoring of lifelong learning system services,
lifelong learning task management and status monitoring, and lifelong learning knowledge base

[2022-05-10 11:53] lwdragon opened #307 "[Feature] Implement Sedna Python SDK support for MindSpore and TinyMS"
### Background:
1. Sedna is an edge-cloud collaboration tool that enables collaborative training and collaborative reasoning across edge-cloud.
2. MindSpore is a domestic mainstream AI computing framework for all scenarios of device-edge-cloud, providing end-to-end capabilities for model development, model operation, and model deployment of all-scenario AI.
3. TinyMS is a high-level API tool devel

[2022-05-10 11:55] Ratuchetp opened #308 "[Feature] Develop function of automatically algorithm performance tests for Sedna Edge-cloud Re-ID"
#### Why is this needed:
Person Re-ID based on Cloud-edge collaborative architecture is a new example feature that Sedna will soon support, which can continuously recognize, track and search the target person provided by the user in the source video, and push the video containing the search results to the streaming media server. Since each service module flexibly supports the AI model, it is neces

[2022-05-10 12:05] #308 closed

[2022-05-10 12:19] Ratuchetp opened #309 "[Feature] Implement function of automatically algorithm performance tests for Sedna Edge-cloud Re-ID"
**Why is this needed**:
Person Re-ID based on Cloud-edge collaborative architecture is a new example feature that Sedna will soon support, which can continuously recognize, track and search the target person provided by the user in the source video, and push the video containing the search results to the streaming media server. Since each service module flexibly supports the AI model, it is necess

[2022-05-11 09:00] luosiqi opened #310 "[Feature]Unknown Task Recognition Algorithm Reproduction based on Lifelong Learning of Sedna"
Background:
Traditional machine learning performs test-set inference by training known samples to which its knowledge is limited. For unknown samples from new classes, they cannot be effectively recognized and will be processed as known samples. Therefore, the recognition and processing of unknown samples or unknown tasks will become the main research direction of artificial intelligence in the fu

[2022-05-11 09:53] chenkanhw opened #312 "Build a high-frequency Sedna-based end-to-end use case in ModelBox format"
### Background:

1. ModelBox is an AI application development framework featuring device-edge-cloud synergy. It provides a parallel execution framework based on pipelines, helping developers quickly develop high-performance AI applications that support software-hardware synergized optimization. Applications built on it can be also compatible with different hardware platforms.

### Why is this proj

[2022-05-18 09:29] hey-kong commented on #246
Hi, I have the same question, do you now know what the cause is?

[2022-05-28 11:23] WadeWuu opened #316 "The image sedna-example-joint-inference-helmet-detection-little can not run on the ARM."
I have a Atlas-200 DK device. I want to run the joint inference service. However, I find the image sedna-example-joint-inference-helmet-detection-little can not run on the ARM.

[2022-05-29 07:18] zhangtag commented on #246
我也遇见了，请问怎么解决的

[2022-05-30 09:28] hey-kong opened #317 "Run the incremental learning example, eval worker doesn't start"
**What happened**:
Run the incremental learning example, eval worker doesn't start.

**What you expected to happen**:
Train worker exits, eval worker running.

**How to reproduce it (as minimally and precisely as possible)**:
Run the incremental learning example.

**Anything else we need to know?**:
Nodes and pods:
[code]

gm log:
[code]

lc log:
[code]

**Environment**:
<details><summary>Sedna Ve

[2022-06-01 11:52] JimmyYang20 commented on #317
@hey-kong Post incremental learning job yaml

[2022-06-01 11:54] JimmyYang20 commented on #316
@WadeWuu example images of sedna project only support amd64.

[2022-06-01 11:59] JimmyYang20 commented on #299
@LinRds Check whether edgemesh is installed on edge nodes and cloud nodes.
[edgemesh doc](https://edgemesh.netlify.app/zh/guide/getting-started.html#helm-%E5%AE%89%E8%A3%85)

[2022-06-02 08:03] shifan-Z commented on #303
We will first use the data for multi-task training and then initialize the knowledge. Then, our tasks are attributed with the metadata. The attribution method could be the tree structure like a knowledge base. The tree will be realized with the decision model because of the complexity of the vision.
After getting a knowledge base, we need to fuse the results of different models to get the ultimate

[2022-06-02 09:10] #285 closed

[2022-06-04 09:33] hey-kong commented on #317
I'm not quite sure what the previous yaml was, but now the problem is gone. Thanks a lot.

[2022-06-04 09:33] #317 closed

[2022-06-09 11:54] hey-kong opened #320 "kb v0.5.0 is in CrashLoopBackOff status"
**What happened**:
kb is in CrashLoopBackOff status

**What you expected to happen**:
kb is in Running status

**Anything else we need to know?**:
kb log:
[code]

[2022-06-10 11:51] cgafool opened #322 "!!Major Problems in Sedna Usage!!"
**What would you like to be added/modified**:
ISSUE1: _url2dict arg can be the s3 path or nfs path . In this way, the file is converted into a dict.
ISSUE2: FileOps adds support for NFS
For ISSUE3: Sevice/base.py BaseServer https certificates, such as KB, certificate security and encryption and decryption are not considered. You are advised to refer to other open-source implementations.
ISSUE4: LC

[2022-06-13 00:33] JoeyHwong-gk commented on #320
Thanks for reporting, It seems due to a lack of dependency. Would you like to contribute the pull request yourself?

[2022-06-14 08:58] 916264367 opened #323 "In the example of helmet detection，What is the difference between models in the cloud and those in the edge"
In project "[Using Joint Inference Service in Helmet Detection Scenario](https://github.com/kubeedge/sedna/blob/main/examples/joint_inference/helmet_detection_inference/README.md)."
There is a large model in the cloud and a small model at the edge, What is the difference between the two models.
Is to use the model cutting method to cut the large model of the cloud?
Or they use different training m

[2022-06-15 08:57] hey-kong opened #324 "v0.5.0 incremental learning helmet detection demo does't run"
**What happened**:
incremental learning helmet detection demo does't run

**What you expected to happen**:
inference job and train job are running

**How to reproduce it (as minimally and precisely as possible)**:
image `kubeedge/sedna-example-incremental-learning-helmet-detection:v0.4.3` works fine, but after I switch to `kubeedge/sedna-example-incremental-learning-helmet-detection:v0.5.0`, the f

[2022-06-15 10:57] jaypume commented on #324
It may caused by a field in `JobBase` class, in `lib/sedna/core/base.py`,

[2022-06-15 11:36] vcozzolino commented on #324
As @jaypume mentioned, this is a regression bug introduced by the new release. The missing field has been added back into `JobBase` and the example should work as expected now.

[2022-06-16 04:11] jeonginseo opened #326 "Failed to install sedna by all-in-one script"
Hi,
I trying to install sedna on my VM using all-in-one script:
**$ curl https://raw.githubusercontent.com/kubeedge/sedna/master/scripts/installation/all-in-one.sh | KUBEEDGE_VERSION=v1.8.0 NUM_EDGE_NODES=2 sudo bash -**
(VM : Ubuntu 20.04, docker 20.10.17, I added sudo to bash)

But it hangs and ends with this message:
**error: timed out waiting for the condition on deployments/gm**
And, kubectl

[2022-06-18 10:13] hey-kong opened #328 "In the lifelong learning atcii classifier demo, inference job error"
**What happened**:
inference job error when running lifelong learning atcii classifier demo
<img width="915" alt="Snipaste_2022-06-17_01-08-57" src="https://user-images.githubusercontent.com/54307176/174432892-8b957032-f0e0-4429-8438-24888e1ff0f5.png">
kubectl logs atcii-classifier-demo-inference-sqbjt:
[code]

**What you expected to happen**:
inference job is in running status

**How to reproduce

[2022-06-19 05:33] lyr15527 commented on #326
I have the same problem as you, did you solve it？

[2022-06-20 02:46] jeonginseo commented on #326
nope :(
I'm trying to change docker version same as readme

[2022-06-21 04:19] llhuii commented on #326
试试调整一下命令：
[code]

另外可以看看gm的日志，为啥没有ready？

[2022-06-21 07:11] #324 closed

[2022-06-21 09:04] jeonginseo commented on #326
I set the version of sedna to 0.4.3 f and it was successful :
(K8s(kubectl, kubeadm, kubelet) = 1.19.16, Docker = 19.03.15, containerd.io=1.3.7)
I think the new sedna(0.5.0) uses (nearly) latest k8s that not based on docker.

Here is the output :
$ curl https://raw.githubusercontent.com/kubeedge/sedna/master/scripts/installation/all-in-one.sh | sudo SEDNA_VERSION=0.4.3 KUBEEDGE_VERSION=v1.8.0 NUM_

[2022-07-01 04:07] lidongen opened #329 "install scripts appoint sedna-gm image existn't"
**What happened**:
install sedna with this scripts
![image](https://user-images.githubusercontent.com/12271543/176820605-8c09c795-4d7d-4462-af8e-d156c5ec1549.png)

**What you expected to happen**:
can not pull appoint image
![image](https://user-images.githubusercontent.com/12271543/176820738-0cfaf148-7d32-4121-b065-6c1dee6b428a.png)

I see the kubeedge/sedna-gm in dockerhub, it existn't  kubeedge

[2022-07-14 02:31] luosiqi opened #330 "A link in the readme doc of lifelong learning example is empty"
https://github.com/kubeedge/sedna/blob/main/examples/lifelong_learning/atcii/README.md

![image](https://user-images.githubusercontent.com/88532950/178885139-d5b32709-e1b0-47ba-bf3d-048afdc3c1af.png)

The link to guide how to set credentials of using s3 storage doesn't exist.

[2022-07-14 06:44] #320 closed

[2022-07-19 12:13] talenterj commented on #290
could I ask how you solve this , now i meet the same problem in sedna-v0.5.0

[2022-07-20 02:51] zz952332446 commented on #290
I didn't solve this, and I haven't used Sedna from this bug

[2022-07-20 02:57] JimmyYang20 commented on #290
I'd like to know more about it. would you mind providing more logs?
1. `kubectl get nodes`
2. `kubectl get ji -o yaml`

[2022-07-20 03:43] JimmyYang20 commented on #329
@lidongen Image updated

[2022-07-20 07:36] #323 closed

[2022-07-20 07:39] 916264367 opened #333 "In terms of joint reasoning, is there any other example besides 'Example1：Using Joint Inference Service in Helmet Detection Scenario'"

[2022-07-20 09:20] JimmyYang20 commented on #290
@talenterj check memory in edge, `free -m`

[2022-07-20 09:21] talenterj commented on #290
[code]

[2022-07-20 09:37] JimmyYang20 commented on #290
@talenterj
Is it convenient to send me an online contact? Is it convenient to help you solve the problem online?

[2022-07-20 09:42] talenterj commented on #290
qq is ok? 417534634

[2022-07-20 10:01] talenterj commented on #290
@JimmyYang20 or which log I should check to solve this problem, lc ,edgemesh nodes shows no error when create service

[2022-07-21 04:22] talenterj commented on #290
OK，I solve this problem by check gm logs
[code]

check k8s service `kubectl get svc`
[code]
delete svc ` kubectl delete svc helmet-detection-inference-example-cloud` and deploy joint-inferenc is ok。
like this
[code]

[2022-07-21 07:30] talenterj opened #334 "edge node connot get cloud result during Joint-Inference helmet task"
I deploy Joint-Inference helmet task as docs, both cloud and edge worker are created.
after add video  to edge node, I can only get  result in `/data/hard_example_edge_inference_output` and `/data/output`, the `/data/hard_example_cloud_inference_output` dir is empty.

check the edge-worker logs
[code]
what may be the reason?

[2022-07-21 07:46] talenterj commented on #334
edgemesh logs report no err

[2022-07-21 08:43] talenterj commented on #299
have you solve this problem, i have sam question.edge node cannot access port 5000 of big model,so cannot get result from
big model

[2022-07-21 08:44] talenterj commented on #299
@JimmyYang20 edgemesh node on edge works fine withour reporting any error

[2022-07-21 08:46] talenterj commented on #334
edge node cannot access cloud 5000 port

[2022-07-22 01:13] #290 closed

[2022-07-22 09:59] talenterj commented on #334
@llhuii @CindyXing @jaypume @dingyin

[2022-07-24 05:55] 916264367 commented on #333
If I replace the model and image of helmet detection with others, can it be combined for reasoning (Joint Inference Service).

[2022-07-25 02:39] talenterj commented on #334
anyone would help?

[2022-07-26 08:21] talenterj commented on #334
finally solved according to edgemesh issuses, the  dns policy need to specify.

How to fix your problem:

CLOUD_NODE="cloud-node-name"
EDGE_NODE="edge-node-name"

kubectl create -f - <<EOF
apiVersion: sedna.io/v1alpha1
kind: JointInferenceService
metadata:
  name: helmet-detection-inference-example
  namespace: default
spec:
  edgeWorker:
    model:
      name: "helmet-detection-inference-little-m

[2022-07-26 08:21] #334 closed

[2022-07-28 10:14] nailtu30 opened #336 "A enhanced GAN Framework is required for Sedna"
**A new  GAN Framework is Required**

**Why is this needed**: The existing distributed GAN aims to train a certain class of discriminators to generate a single class of virtual data. However, in real life, there are applications that need to train multiple types of discriminators at the same time, such as image conversion and robot inspection.

[2022-08-04 11:08] FTWH commented on #316
The sample documentation is really annoying! According to the installation and operation of the document, there can be errors. There is also no way to debug in the documentation.

[2022-08-31 14:21] MooreZheng commented on #312
A critical problem: where is the architecture?

[2022-09-08 11:23] MooreZheng commented on #118
Add as suggested, e.g., https://github.com/kubeedge/ianvs/tree/main/examples/pcb-aoi/singletask_learning_bench/testenv

[2022-09-12 03:35] #333 closed

[2022-09-12 11:57] 916264367 opened #363 "How to make the container read external files in joint reasoning"
In the case of "Using Joint Inference Service in Helmet Detection Scenario", the container can get the model and data locally.
My question is: How did this happen? How to make the container read external data and files, I declare the storage path of the image to be detected through the .yaml file. However, the container reported an error. The error message was that the path could not be found

[2022-09-20 07:48] Liu-JJ97 opened #364 "gm and kb is always pending"
**What happened**:Hello, I tried to install sedna but the gm and kb pods were in pending status forever.

**What you expected to happen**:install sedna successfully

**How to reproduce it (as minimally and precisely as possible)**: cat install.sh | SEDNA_ACTION=create bash -

**Anything else we need to know?**:I have two nodes,master and  edge,and the pod gm details can be see in the following pic

[2022-09-25 10:04] Kanakami opened #365 "The number of hard samples can not be shown in yaml"
**What would you like to be added/modified**:
Metrics like number of hard samples and inference count can not be monitored in yaml.

**Why is this needed**:
Currently, we only can count the file numbers in output path to get these metrics. This is very inconvenient.

If these metrics can shown in task pods' yaml like this picture, it is more convenient.
<img width="354" alt="image" src="https://us

[2022-10-20 13:18] 916264367 opened #372 "What is the difference between these two examples of federal learning in Sedna species"
The first example: "[Using Federated Learning Job in Surface Defect Detection Scenario]"(https://github.com/kubeedge/sedna/blob/main/examples/federated_learning/surface_defect_detection/README.md).
The Second example: "[Using Federated Learning Job in YoLov5-based Object Detection]"(https://github.com/kubeedge/sedna/blob/main/examples/federated_learning/yolov5_coco128_mistnet/README.md).
In the fi

[2022-10-25 02:06] #306 closed

[2022-10-28 02:53] ccaoseeyoutomorrow commented on #299
I have sam question. I entered the docker, run the infer.py, and get the warning:
Connection refused in request http://helmet-detection-inference-example-cloud.default:5000/sedna/predict

[2022-10-30 09:06] Ymh13383894400 opened #377 "lc logs"
查看边节点的lc容器日志，为什么不能连接主节点，创建的job无法执行

I1030 09:02:01.138325       1 server.go:120] manager dataset is started
I1030 09:02:01.138660       1 server.go:120] manager model is started
I1030 09:02:01.139049       1 server.go:120] manager jointinferenceservice is started
I1030 09:02:01.139068       1 server.go:120] manager federatedlearningjob is started
I1030 09:02:01.139075       1 server.go:120] manage

[2022-10-31 06:10] #307 closed

[2022-11-10 01:46] xinzongyan commented on #377
the same problem......how to resovle?

[2022-11-13 05:41] Lj1ang commented on #377
It's a edgemesh problem.Try this [test case](https://edgemesh.netlify.app/guide/test-case.html#cross-edge-cloud).

[2022-11-16 06:39] xinzongyan commented on #299
the same problem!

[2022-11-17 02:27] mrshengzyzy commented on #377
edgemesh 有问题。无法解析 dns。

[2022-11-17 07:39] luosiqi opened #380 "Question about lifelong learning example"
When Sedna and lifelong learning are deployed successfully, the inference worker has nothing to output like this
![image](https://user-images.githubusercontent.com/88532950/202383999-90c54df9-0b11-4290-845a-24d9cf71c006.png)

When I run the inference.py inside the container, it still got no results.

[2022-11-20 08:43] chou-shun opened #381 "Model update CANNOT be triggered in the second round of incremental learning"
**What happened**:
  In the second round of incremental learning, the task is in the **Deploy Running** state for a long time, but the deploy model in the edge is not updated

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
  1. In `sedna/pkg/localcontroller/managers/incrementallearning/incrementallearningjob.